
    <article>

<p><strong>Kinijoje iki persekiojimo 1999 m. Falun Dafa nebuvo "prieštaringas", o tuo labiau "eretiškas".</strong></p>

<p>1992-99 m. Falun Dafa buvo labai populiarus. Remiantis 1999 m. balandžio 27 d. 'New York Times' pranešimu, daugiau kaip 70 mln. žmonių pradėjo praktikuoti šią praktiką. Bet kurį rytą beveik bet kuriame parke buvo galima pamatyti dešimtis ar net šimtus žmonių, atliekančių Falun Dafa pratimus; tarp pasekėjų buvo elitinių mokslininkų, karininkų, valstybės pareigūnų ir akademikų.</p>

<p>Kuo patrauklus Falun Dafa? Pirmiausia tai buvo priemonė, padedanti pasiekti sveikatą, priemonė, kuri kartu buvo ir kūniška, ir psichologinė, ir moralinė. Ji skleidė pozityvumą ir mokė senų dorybių. Falun Dafa buvo palankus visiems ir nemokamas, todėl įtraukiantis. Be to, jis buvo atvirai praktikuojamas viešuose parkuose, o visi mokymai buvo nemokamai skelbiami internete.</p>

<p>Dėl to Falun Dafa sulaukė įvairių oficialių institucijų pagyrų, įskaitant Viešojo saugumo ministeriją ir Nacionalinę sporto komisiją. Kai kurie pareigūnai jį laikė 'auksiniu vaistu' senstančios tautos sveikatos priežiūros bėdoms spręsti.</p>

<p>Kai 1999 m. Kinijos komunistų valdžia uždraudė šią praktiką, ji susidūrė su tokia teisėtumo krize (vidaus ir tarptautine) kaip niekada anksčiau. Ypač atsižvelgiant į Falun Dafa populiarumą ir tai, kad grupė nebuvo nustatyta kaip kenksminga. Iš tiesų Viešojo saugumo biuras tris kartus tyrė šią grupę, tačiau nenustatė jokių neteisėtų veiksmų.</p>

<p>Vis dėlto partija siekė demonizuoti šią grupę, vykdydama šmeižto operacijas valstybinėje žiniasklaidoje ir pasitelkdama išsamias 'ryšių su visuomene' iniciatyvas užsienyje. Tai turėjo ir kitą tikslą - nukreipti žmonių dėmesį nuo labai realių ir neatidėliotinų socialinių problemų, jau nekalbant apie oficialią korupciją, kuri, kai kuriais vertinimais, grasina suskaldyti tautą.</p>

<p>Reikėtų atkreipti dėmesį į tris aspektus.</p>

<p>Pirmoji, daugumą menkinančių teiginių apie Falun Dafa KKP paskelbė tik po to, kai nusprendė persekioti šią grupę.</p>

<p>Antroji, nepriklausomi žurnalistai, kurie bandė ištirti tokius teiginius, buvo persekiojami, jiems buvo grasinama ir jie netgi buvo suimti; kai jiems pavyko apklausti šaltinius, paaiškėjo, kad partijos teiginiai buvo melagingi, arba visiškai fiktyvūs.</p>

<p>Trečia, kodėl tokie pat kaltinimai nebuvo pateikti nė vienoje iš daugiau nei 70 nekomunistinių šalių, kuriose atvirai praktikuojamas Falun Dafa? Taivane, demokratinėje šalyje, šimtai tūkstančių žmonių praktikuoja Falun Dafa kasdienybėje, tačiau tai sulaukia tik pagyrimų.</p>

<p>Pekino valdžios institucijos nori, kad jūs klaustumėte, kas yra šie žmonės, o ne apie tai, kas su jais daroma.</p>

    </article>
