    <article>
<ul class="misconceptions_key_points">
    <li>1990-aisiais aukščiausi Kinijos vyriausybės pareigūnai gyrė Falun Dafa už jo naudą sveikatai ir gerovei.</li>
    <li>Kadangi Falun Dafa tapo toks populiarus ir nepriklausomas, vyriausiasis Kinijos komunistų lyderis įsakė jį sunaikinti.</li>
    <li>Praėjus keliems mėnesiams nuo persekiojimo pradžios, Kinijos vadovai, siekdami pateisinti persekiojimą ir atgrasyti nuo kritikos, pirmą kartą Falun Dafa pavadino „kultu”.</li>
    <li>Vakaruose akademikai ir žmogaus teisių grupės „kulto” etiketę vadina politine priemone ir „melaginga etikete”, kuria siekiama paskatinti persekiojimą.</li>
</ul>


<p><strong>1999 m. liepos 22 d. Kinijos vyriausybė „neuždraudė Falun Dafa kaip blogio kulto”. Iki tų pačių metų spalio mėn. jis nebuvo taip vadinamas.</strong></p>

<p>Kai šis terminas buvo vartojamas, tai nebuvo pamatuotos analizės, tyrimo išvadų ar teologinių diskusijų rezultatas. Jį sukūrė ne religijos tyrinėtojai, ne sociologai ar psichologai. Nebuvo ir vyriausybės konsensuso.</p>

<p>Veikiau tai buvo politinis žingsnis, kurio iniciatorius buvo konkretus asmuo. Tai buvo tuometinis Kinijos komunistų partijos vadovas. Pasak 1999 m. lapkričio 9 d. 'Washington Post' pranešimo, „būtent jis įsakė Falungun pavadinti 'kultu', o tada pareikalavo priimti įstatymą, draudžiantį kultus”.</p>

<p>Ši etiketė atsirado tuo metu, kai besiformuojantis partijos kovos su Falun Dafa judėjimu žygis virto nevykusia viešųjų ryšių painiava. Falun Dafa ne tik priešinosi režimui, bet ir prieš jį naudojamos smurtinės priemonės - kankinimai ir vieši policijos žiaurumo demonstravimai - pakreipė visuomenės nuomonę Falun Dafa naudai. Kinijos visuomenė vis labiau palankiai vertino šios grupės padėtį, nors partijos propaganda buvo nuolat stiprinama. Tuo tarpu tarptautinė kritika vis didėjo.</p>

<p>Reikėjo ką nors daryti, kad kampanija nebūtų gėdinga ir brangiai kainavusi nesėkmė. Kai kas pagrįstai suabejojo partijos lyderio valdymo teisėtumu. Jam žūtbūtinai reikėjo pažaboti Falun Dafa palaikymo bangą.</p>

<p>Taigi, kaip ir pats persekiojimas, Falun Dafa vadinimas „blogio sekta” jam buvo savitikslis.</p>

<p>Pasak laikraščio, „represijų buvo imtasi siekiant pademonstruoti ir įtvirtinti Kinijos vadovybės galią… Komunistų partijos šaltiniai teigė, kad politbiuro vienbalsiai nepritarė represijoms ir kad prezidentas Dzan Dzeminas vienas nusprendė, kad Falungun turi būti sunaikintas”.</p>

<p>Tame pačiame straipsnyje, cituojant partijos pareigūną, pažymima, kad „tai, be abejo, yra labai asmeniška Dzanui”.</p>

<p>Ką jis tikėjosi pasiekti su šia etikete?</p>

<p>Pirma, taip buvo siekiama sumažinti visuomenės simpatijas Falun Dafa judėjimui, vietoj to empatiją paverčiant įtarumu. Antra, dėmesys būtų nukreiptas nuo neteisėtų partijos-valstybės veiksmų į auką, suabejojant jos sąžiningumu. Trečia, tai būtų pasitarnavę Falun Dafa dehumanizavimui, sudarant sąlygas drastiškesniems teisių pažeidimams; iš tiesų, vėlesniais metais kankinimų ir smurto atvejų labai padaugėjo. Ketvirta, tai pavaizduotų atskirus Falun Dafa pasekėjus kaip sektos lyderio 'aukas', aukas, kurias geranoriška valstybė galėtų 'išgelbėti' ir 'reabilituoti'.</p>

<p>Tačiau ši sąvoka turėjo ir kitą, tolimesnį siekį. Tai siekis, kuris būtų įgyvendintas užsienyje. Tiksliau, jis turėjo sukelti atgarsį Vakaruose ir išteisinti jos nusikaltimus žmoniškumui.</p>

<p>2001 m. vasario 14 d. 'The Wall Street Journal' Azijos leidinio pranešime teigiama, kad Kinijos komunistų partija „entuziastingai perėmė Vakarų antikultinio judėjimo kalbą ir argumentus savo propagandoje prieš Falun Dafa… Kinija prisijungė prie antikultinio judėjimo, kad pateisintų represijas”.</p>

<p>Galiausiai reikėtų pažymėti, kad Vakarų religijos mokslininkai, kurie nuodugniai tyrinėjo Falun Dafa, pavyzdžiui, Davidas Ownby, pastebėjo, kad Falun Dafa neturi kultams būdingų bruožų. Jame nėra lyderio garbinimo, nėra imami mokesčiai, praktikuotojai nėra izoliuojami nuo visuomenės, nesikišama į jų asmeninį gyvenimą ir neskatinamas joks elgesys, kuris galėtų būti laikomas neteisėtu ar pavojingu. Vietoj to, tokie mokslininkai pripažino, kad tai yra naujas religinis judėjimas.</p>

<p>Taip pat daug tarptautinių veikėjų, įskaitant Jungtinių Tautų specialiuosius pranešėjus, žymias žmogaus teisių grupes ir demokratines vyriausybes, ne kartą nurodė, kad represijas prieš Falun Dafa yra nepagrįstas religinis persekiojimas, o ne teisėta vyriausybės politika, kuria siekiama atsikratyti tariamai neigiamos įtakos visuomenei.</p>

<p>Jei kas nors ir yra, tai galbūt Kinijos komunistinių valdovų noras pacifistinę, atvirą ir geranorišką meditacijos grupę pavadinti 'blogio kultu' liudija apie šios partijos sąžinės graužatį.</p>

<p>Šią galimybę tinkamai pastebėjo žurnalas 'Time', 2001 m. birželį rašydamas, kad „jie [Falun Dafa] nėra žudikai; tuo tarpu komuniztų partija per 51-erius valdymo Kinijoje metus yra atsakinga už dešimčių milijonų nekaltų piliečių, įskaitant savo šalininkus, mirtį. Galbūt blogio kultas yra paties komuniztų partija”.</p>
    </article>
