    <article>
<ul class="misconceptions_key_points">
    <li>Falun Dafa emblema vadinama "Falun" - kinų kalbos terminas, kuris laisvai verčiamas kaip "Įstatymo ratas".</li>
    <li>Svastika, kaip ji vadinama angliškai, dažnai sutinkama Azijos budizme ir turi senas šaknis. Ji dažnai sutinkama ant budistų statulų ir šventyklų.</li>
    <li>Svastika daugelyje kultūrų turi ilgą istoriją kaip sėkmės simbolis.</li>
    <li>Su nacistine Vokietija siejama juoda svastika buvo pasisavinta iš senųjų kultūrų.</li>
</ul>

<p>Falun Dafa emblema vadinama 'Falun' - kinų kalbos terminas, kuris laisvai verčiamas kaip 'Įstatymo ratas'. Faluną sudaro du pagrindiniai elementai: jin-jan simboliai, kurie yra daoistinio pobūdžio, ir svastika, kuri yra budistinė. Svastika, kaip ji vadinama angliškai, dažnai sutinkama Azijos budizme.</p>

<p>Falun vaizduojama svastika yra Budos simbolis.</p>

<h3>Senovinis ir visuotinis simbolis</h3>

<p>Svastika yra senovinis simbolis, žinomas kaip sėkmės simbolis per amžius visame pasaulyje. Tačiau daugelis žmonių šiandien prisimena, kaip Hitleris Antrojo pasaulinio karo metais piktnaudžiavo svastika, ir dabar sieja ją su holokausto siaubais. Hitleris pasisavino svastiką, bet jis nėra svastikos autorius. Dėl to žmones dažnai nustemba pamatę svastiką kaip Falun simbolio, dalį.</p>

<p>Svastika nuo seno yra galingas ir teigiamas simbolis įvairiose pasaulio kultūrose. Rytų kultūrose svastika yra Budos simbolis. Kinijoje svastika taip pat įkūnija amžinybės, begalybės ir visatos sąvokas. Kinų kalbos žodis, reiškiantis šį simbolį, yra wan, o sanskrito kalboje jis vadinamas srivatsa.</p>

<img src="{CONTENT_SERVER}/swastikas_in_ancient_greek_culture-1024x717.jpg" title="Svastikos senoves graikų kulturoje">
<img src="{CONTENT_SERVER}/swastika_ancientuniversal_symbol_1-1024x717.jpg" title="1. Romėnų 2. Graikų 3. Korejiečų 4. Tibetiečių; Japonų; Krikščionių 5. Graikų 6. Ant Budos statulos">
<img src="{CONTENT_SERVER}/2013-06-04-swastikas_on_buddha_statues-1024x717.jpg" title="Ant Budos statulų">

<h3>Prieš Antrąjį pasaulinį karą Vakaruose svastikos simbolizavo sėkmę</h3>

<p>Dauguma žmonių pamiršo teigiamą svastikos įvaizdį net Šiaurės Amerikoje. Tokie atvirukai, kaip žemiau esantis, primena laikus prieš Hitlerį ir Holokaustą, kai šis amžinas sėkmės simbolis daugumai Vakarų pasaulio žmonių įgavo visiškai kitokią prasmę.</p>


<img src="{CONTENT_SERVER}/2007-9-16_swastika.gif" title="Atvirukas">
<img src="{CONTENT_SERVER}/200709016_az789.jpg" title="Žanklas ant Arizonos greitkelio">

<p>Prieš Antrąjį pasaulinį karą ant visų Arizonos valstijos greitkelių ženklų buvo svastika. Svastika gerbiama daugelyje čiabuvių kultūrų, įskaitant Arizonos navahų ir hopių tautas.</p>

    </article>
