
    <article>
<ul id="wide_list">
    <li id="misconceptions_kultas"                  >Kodėl KKP vadina Falun Dafa blogio kultu?</li>
    <li id="misconceptions_netolerantiskas"         >Ar Falun Dafa laikosi netolerantiškų įsitikinimų?</li>
    <li id="misconceptions_vengia_medicinos"        >Ar Falun Dafa vengia medicinos?</li>
    <li id="misconceptions_slaptas"                 >Ar Falun Dafa yra slaptas?</li>
    <li id="misconceptions_priestaringai_vertinamas">Ar Falun Dafa yra prieštaringai vertinamas?</li>
    <li id="misconceptions_politinis"               >Ar Falun Dafa yra politinė jėga Kinijoje?</li>
    <li id="misconceptions_Falun"                   >Kas yra Falun emblema?</li>
</ul>
    </article>
