
    <article>
<ul class="misconceptions_key_points">
    <li>KKP klijuoja ydingas etiketes, tikėdamasi, kad Falun Dafa taps Vakaruose paplitusių tolerantiškų pažiūrų priešingybe.</li>
    <li>Falun Dafa priima bet kokios seksualinės orientacijos ar lytinės tapatybės asmenis, neskatina ir nepalaiko neapykantos ar diskriminacijos.</li>
    <li>Kaip ir dauguma pasaulio religijų, Falun Dafa palaiko konservatyvią seksualinę etiką. Tačiau Falun Dafa nesiekia niekam primesti savo etinių nuostatų.</li>
    <li>Falun Dafa mokyme pabrėžiama, kad visi žmonės turi nemirtingą sielą, ir iš tikrųjų žmonės gali persikūnyti į skirtingas rases per skirtingus gyvenimus.</li>
</ul>


<p><strong>Žinodamos, kad demokratiniai Vakarai yra tolerantiška, pliuralistinė ir įvairialypė šalis, Kinijos valdžios institucijos stengėsi įvardyti Falun Dafa kaip prieštaraujantį šioms pagrindinėms vertybėms. Vienu žodžiu, jos stengėsi jį pavadinti 'netolerantišku'.</strong></p>

<p>Šis apibūdinimas yra akivaizdžiai klaidinantis ir remiasi tik neinformuotu doktrinos aiškinimu. Svarbu tai, kad nustatyta, jog jis prieštarauja realiai praktikai.</p>

<p>Panagrinėkime pirmąją iš dviejų pagrindinių Kinijos valdžios institucijų nurodomų problemų - tariamą netoleranciją homoseksualumui. (Negalime nepastebėti ironijos, kad Kinijos komunistiniai valdovai dar visai neseniai buvo uždraudę homoseksualumą, vadindami jį psichikos sutrikimu).</p>

<h4>Homofobiškas?</h4>

<p>Kalbant apie seksualinę etiką, Falun Dafa laikosi tradicinių pažiūrų, panašių į budizmo ar krikščionybės mokymus. Trumpai tariant, Falun Dafa siekia, kad prisirišimai ir troškimai, įskaitant lytinį potraukį, būtų vertinami atlaidžiai, ir teigia, kad lytiniai santykiai turėtų vykti tik heteroseksualioje santuokoje.</p>

<p>Tačiau mes neketiname primesti šių pažiūrų kitiems, ypač nepraktikuotojams. Laikydamiesi savo užuojautos ir tolerancijos vertybių, tikime, kad su visais žmonėmis turėtume elgtis vienodai ir maloniai, net jei nesutinkame su tuo, ką jie pasirenka savo asmeniniame gyvenime.</p>

<p>Tuo pat metu mes niekam neatmetame galimybės prisijungti prie mūsų praktikos. Priešingai, mes laukiame visų, nepriklausomai nuo jų seksualinės orientacijos. Falun Dafa praktikuotojai gerbia kiekvieno žmogaus pasirinkimo laisvę ir iki šiol niekada nesipriešino LGBTQ bendruomenei ar jų pastangoms teises įtvirtinti.</p>

<h4>Prieš rasių maišymąsi?</h4>

<p>Kitas klausimas, kurį kai kurie žurnalistai, paskatinti Kinijos valstybinės žiniasklaidos užuominų, iškėlė dėl mišrių rasių santuokų ir mišrių rasių vaikų. Vienoje Falun Dafa paskaitoje yra trumpa ištrauka, kurioje išreiškiamas tikėjimas, kad skirtingos etninės grupės - nors visos dvasiškai lygios - turi skirtingą dieviškąją kilmę ir kiekviena jų teigia turinti savo dangų, su kuriuo palaiko atitinkamus santykius.</p>

<p>Reikėtų pabrėžti, kad iš tikrųjų tai yra labai nežymus Falun Dafa kosmologijos aspektas (ir kai kurie žurnalistai neteisingai jį suprato ir ekstrapoliavo daug plačiau, nei būtų galima pagrįstai patvirtinti). Tai visiškai nepriklauso pagrindiniams Falun Dafa mokymams, kurie yra orientuoti į Tiesos, Gerumo ir Kantrybes etinius standartus, o ne į pasakojimus apie pasaulio sukūrimą.</p>

<p>Nepaisant to, tai nėra taip neįprasta, kaip atrodo kai kuriems žurnalistams: tradicinės Azijos ir Vakarų pasaulio kosmologijos dažnai siejo tam tikrus dievus su tam tikromis bendruomenėmis, pavyzdžiui, romėnų mitas apie tautos kilmę iš deivės Veneros sūnaus Enėjo, dievo Marso sūnų Romulo ir Remo arba senovės kinų tikėjimas dieviškais protėviais.</p>

<p>Be to, tą ištrauką galima suprasti tik atsižvelgiant į Falun Dafa mokymą apie reinkarnaciją ir sielos persikūnijimą, kuris nesusijęs su jokia konkrečia rase ar etnine priklausomybe (pvz., žmogus vieną gyvenimą gali persikūnyti į kinų šeimą, o kitą - į baltųjų, juodaodžių ar skirtingų rasių šeimą). Šie mokymai toli gražu neskatina rasizmo ar diskriminacijos, o atvirkščiai - atgraso nuo jų: Falun Dafa mokymas pabrėžia visų žmonių prigimtinį dieviškumą ir yra iš esmės nesuderinamas su rasiniais prietarais.</p>

<p>Ne mažai Falun Dafa praktikuotojų, pradėję praktikuoti Falun Dafa, susituokė su kitos rasės žmonėmis ir susilaukė mišrios rasės vaikų. Iš 14 asmenų, kurie dirba FalunInfo.net, net 4 priklauso šiai kategorijai. Visų rasių ir tautybių Falun Dafa praktikuotojai bendruomenėje vertinami vienodai, laisvai bendrauja, sudaro santuokas ir sulaukia visapusiškos bendraminčių paramos.</p>

<p>Šios dvi dažniausiai minimos 'netolerancijos' formos, atidžiau jas išnagrinėjus, rodo priešingai. Iš tiesų, Falun Dafa skatina didesnę toleranciją.</p>

    <article>
