
    <article>
<ul class="misconceptions_key_points">
    <li>Falun Dafa mokymas nedraudžia ir neatbaido nuo vaistų vartojimo.</li>
    <li>Tačiau Falun Dafa mokymas paliečia karmos ir jos ryšio su liga klausimus.</li>
    <li>Falun Dafa populiarumas, ypač 1990-aisiais Kinijoje, daugiausia buvo susijęs su jo veiksmingumu gerinant sveikatą ir skatinant sveiką gyvenimo būdą, ir tai atvirai gyrė daugelis Kinijos valdžios pareigūnų.</li>
    <li>„Falun Dafa draudžia vartoti vaistus” buvo vienas iš pagrindinių KKP propagandos taškų, kuriuo buvo siekiama pateisinti represijos ir kartu sumenkinti vieną iš pagrindinių Falun Dafa privalumų - gerą sveikatą.</li>
</ul>

<p><strong>Vienas iš dažniausių Kinijos vyriausybės melų, kurį perpasakoja kai kurie Vakarų žurnalistai, kad Falun Dafa pasekėjams draudžiama vartoti vaistus ir dėl to kyla pavojus jų gyvybei.</strong></p>

<p>Ar Falun Dafa draudžia vartoti vaistus? Tikrai ne. Falun Dafa tokio turinio nėra.</p>

<p>Falun Dafa mokymuose aiškinamas karmos ir ligos ryšys ir nurodoma, kad sveikas kūnas yra natūrali žmogaus būsena, atitinkanti visatos harmoniją.</p>

<p>Per pastaruosius 20 metų šiuolaikinėje medicinoje padaryta didelė pažanga siekiant suprasti proto ir kūno ryšį, t. y. sveikas protas lemia sveiką kūną. Vakarų šalyse taip pat plėtojama daugybė alternatyvios medicinos ir veiksmingų holistinių gydymo būdų, įskaitant ciguną (Falungun irgi yra viena iš ciguno formų).</p>

<p>Nors Falun Dafa, panašiai kaip ir budizmas, moko, kad ligos sukeltos kančios padeda pašalinti neigiamus elementus iš žmogaus kūno, mokyme taip pat aiškiai teigiama, kad ligoninės ir vaistai iš tiesų veikia ir žmonės turėtų kreiptis į ligoninę, jei poreiki. Kiekvienas žmogus pats pasirenka, ar lankytis pas gydytoją ir vartoti vaistus, ar ne, lygiai taip pat, kaip gali rinktis tarp tradicinės kinų medicinos ir Vakarų medicinos.</p>

<p>Kalbant apie tai, kaip tai pasireiškia - vieni praktikuotojai dažniau lankosi ligoninėse ir vartoja vaistus, o kiti mažiau arba, jei jiems to nereikia visai nesinaudoja. Nėra jokių nustatytų taisyklių, draudžiančių tai daryti, bet labiau mokymų sistema, kurią kiekvienas gali taikyti pagal savo supratimą. Falun Dafa didelę reikšmę turi savarankiškas sprendimų priėmimas.</p>

<p>Ar gyvybei gresia pavojus, kaip teigia Kinijos vyriausybės propaganda? Nebuvo atlikta jokių tai patvirtinančių tyrimų. Priešingai, 1998 m. atlikto tyrimo duomenimis, 97,9% iš 12 000 apklaustų praktikuotojų teigė, kad dėl šios praktikos pagerėjo jų sveikata. Daugelis Falun Dafa pasekėjų kaip pagrindinę priežastį praktikuoti nurodo praktikos ir pratimų naudą sveikatai. Praktikuotojai, tarp jų ir tie, kurie patys yra gydytojai, pranešė, kad pasveiko nuo gyvybei pavojingų ligų, pavyzdžiui, vėžio.</p>

<p>1999 m. vasario 14 d. (likus penkiems mėnesiams iki persekiojimo pradžios) 'U.S. News ＆ World' pranešime teigiama, kad Kinijos nacionalinės sporto komisijos (priklausančios Kinijos vyriausybei) pareigūnas gyrė Falun Dafa naudą sveikatai:</p>

<p>
„Falungun ir kitų rūšių cigunas gali padėti kiekvienam žmogui sutaupyti 1000 juanių metinių medicininių išlaidų. Jei jį praktikuoja 100 mln. žmonių, tai per metus sutaupoma 100 mlrd. juanių medicininių mokesčių”, - sako vienas pareigūnas, dalyvaujantis visoje šalyje vykstančiame peržiūros procese. Cituodamas vidinę ataskaitą, jis priduria: „Premjeras Džu Rondzji tuo labai džiaugiasi. Šaliai šie pinigai dabar labai praverstų”.
</p>

<p>Kinijos komunistų propaganda dažnai kaip persekiojimo pagrindą nurodo 1400 Falun Dafa praktikuotojų, kurie mirė po praktikos, matyt, dėl to, kad atsisakė medicininio gydymo.  Šių skaičių niekada nepatvirtino joks šaltinis, išskyrus Kinijos valstybinę žiniasklaidą. Kita vertus, daugiau kaip 70 milijonų praktikuotojų populiacijoje 1 400 mirčių per septynerius metus (1992-1999 m.) yra nepaprastai mažas mirtingumo rodiklis, ypač atsižvelgiant į tai, kad didelė dalis praktikuotojų buvo vyresni nei 50 metų, o daugelis iš jų iš pradžių į Falun Dafa atėjo būtent dėl to, kad sirgo sunkiomis ligomis.</p>

<p>Be to, Falun Dafa praktikuojamas daugiau kaip 70 šalių, tačiau pranešimų apie pavojų gyvybei nebuvo gauta. Tikrasis Falun Dafa praktikuotojų pavojaus šaltinis yra Kinijos komunistų partijos kankinimai.</p>

    </article>
