<!-- “Turning Political” in China? -->
    <article>
<ul class="misconceptions_key_points">
    <li>Falun Dafa nesiekia politinės valdžios, niekada nesiekė ir nesieks.</li>
    <li>Visa Falun Dafa praktikuotojų veikla žmogaus teisių srityje yra atsakas į persekiojimą, siekiant tai nutraukti, o ne siekiant kokių nors politinių tikslų.</li>
    <li>Tuidang (Pasitraukimo iš KKP centras) yra dvasinis, o ne politinis judėjimas.</li>
</ul>

<p><strong>Kinijos valdžios institucijos mėgsta teigti, kad Falun Dafa 'tapo politiniu', ir ši frazė atsidūrė keliuose aprašymuose apie šią praktiką. Taip sakant, kad Falun Dafa "pardavėsi" arba sukompromitavo savo įsitikinimus, įžengdamas į Kinijos politinę areną.</strong></p>

<p>Pirmiausia reikia atkreipti dėmesį į tai, kad Falun Dafa, kaip disciplina, kurios tikslas yra dvasinis tobulėjimas, neturi politinių siekių. Falun Dafa mokymas reikalauja, kad praktikuotojai stengtųsi atsisakyti žemiškų prisirišimų ir rūpesčio dėl šlovės, reputacijos ar naudos, įskaitant politinę valdžią.</p>

<p>'New York Times' (anksčiau - WSJ) žurnalistas Ianas Džonsonas, pelnęs Pulitzerio premiją už reportažą apie Falun Dafa, pasakė:</p>
<blockquote>
„[Falun Dafa] iš esmės yra apolitiška, į vidų orientuota disciplina, kuria siekiama dvasiškai apsivalyti ir pagerinti savo sveikatą.”
</blockquote>

<p>Falun Dafa praktikuotojai siekė užfiksuoti ir atskleisti nusikaltimus žmoniškumui, su kuriais jie susiduria Kinijoje. Tai nėra politinis veiksmas.</p>

<p>Pirmaisiais persekiojimo metais Falun Dafa praktikuotojai, nurodydami persekiojimo kaltininkus, nurodė ne visą KKP, o atskirus lyderius. Tačiau laikui bėgant tapo aišku, kad dėl to, kaip KKP formuoja Kinijos žmonių mintis per švietimą ir žiniasklaidos kontrolę, daugeliui kinų buvo sunku patikėti tuo, kas vyksta su Falun Dafa. Todėl aktyvistai manė, kad norėdami atverti žmonėms akis į pažeidimus, su kuriais susiduria praktikuotojai, pirmiausia jie turi išlaisvinti žmones nuo KKP vykdomos minčių kontrolės. Tokio poveikio buvo siekiama ir iš tikrųjų buvo pasiekta skleidžiant knyga „Devyni komentarai apie Komunistų partiją” - išsamiausią kada nors išleistą demaskavimą apie KKP - ir skatinant Kinijos žmones atsisakyti ryšių su KKP, arba Tuidang.</p>

<p>Nors "Devyniuose komentaruose" pasmerkiama komunistų partija, juose nenurodoma alternatyvi politinė sistema. Tuidang judėjimas nepropaguoja KKP nuvertimo ar perversmo ir nenurodo konkrečių institucinių reformų. Veikiau siekiama atmesti KKP propaguojamą smurto ir dviveidiškumo kultūrą ir atgaivinti dorybes, kad ateityje Kinija taptų teisingesnė ir humaniškesnė. Tuidang judėjimas daugeliu atžvilgių yra ne tiek politinė revoliucija ar instituciniai pokyčiai, kiek dvasinis ir etinis atgimimas.</p>

<p>Visa šia veikla norima padėti Kinijos žmonėms suprasti KKP melą ir apgaulę, kad jie netaptų jos bendrininkais persekiojant nekaltus žmones. Galutinis tikslas - nutraukti persekiojimą, o ne siekti politinės valdžios.</p>

    </article>
