
    <article>
<ul class="misconceptions_key_points">
    <li>Falun Dafa mokymai ir dešimtys tūkstančių praktikuotojų straipsnių, kuriuose jie dalijasi savo patirtimi apie šią praktiką, yra laisvai prieinami visuomenei internete.</li>
    <li>Visas Falun Dafa praktikos vietas visame pasaulyje tvarko savanoriai, jos yra atviros visiems ir nemokamos.</li>
    <li>Falun Dafa neturi 'junginio'. Niujorke, Falun Dafa praktikuotojai įkūrė miestelį, vadinamą 'Dragon Springs', kuriame yra kelios Tan dinastijos stiliaus šventyklos, dvi klasikinio kinų šokio mokyklos ir 'Shen Yun Performing Arts' būstinė.</li>
    <li>Atsižvelgiant į tai, kad 'Dragon Springs'-uose gyvena, studijuoja ar dirba tiek studentai, tiek politiniai pabėgėliai iš Kinijos, prie miestelio įėjimų taikomos standartinės saugumo priemonės.</li>
    <li>Daugiau nei 20 metų KKP agentai grasino, persekiojo ir užpuolė Falun Dafa praktikuotojus JAV teritorijoje. Todėl 'Dragon Springs' taikomos standartinės saugumo priemonės taip pat skirtos sustabdyti KKP agentų keliamą grėsmę.</li>
</ul>

<p><strong>KKP agentai kelia grėsmę JAV ir kitose šalyse</strong></p>

<p>Falun Dafa praktikos vietos yra atviros visiems, o joms vadovauja tik savanoriai. Tačiau saugumas jau seniai yra rūpestis Falun Dafa bendruomenėje.</p>

<p>Kodėl?</p>

<p>KKP persekioja Falun Dafa visame pasaulyje, ne tik Kinijoje. Tikrai taip, Falun Dafa praktikuotojus JAV ir kitose šalyse grasina ir puola Kinijos banditai, bei Kinijos 'diplomatai'.</p>

<p>2004 m. JAV Atstovų rūmai vienbalsiai priėmė rezoliuciją (H.Con.Res.304), smerkiančią KKP vykdomą Falun Dafa priespaudą tiek JAV, tiek Kinijoje, kurią palaikė 75 nariai. Rezoliucijoje pabrėžiami keli incidentai, kai KKP agentai Amerikos teritorijoje fiziškai smurtavo prieš Falun Dafa praktikuotojus, taip pat jie nukentėjo nuo kitų bjaurių taktikų, pavyzdžiui, įsilaužimų į namus.</p>

<p>2006 m. 'Forbes' pranešė, kad Falun Dafa praktikuotoją ir pagrindinių technologijų specialistą Peterį Juan Li savo namuose Dulute, Džordžijoje, žiauriai užpuolė ir sumušė KKP agentai. Per užpuolimą iš jo namų buvo paimti tik keli kompiuteriai ir elektroniniai prietaisai.</p>

<p>2008 m. Kinijos generalinis konsulas Niujorke Pen Keju buvo užfiksuotas įraše, kuriame teigiama, kad jis slapta kurstė protestus prieš Falun Dafa praktikuotojus, įskaitant gegužės 20 d. Flushinge, Niujorke, įvykusį kruviną KKP šalininkų gaujos išpuolį, per kurį buvo suimta 16 žmonių.</p>

<div id="attacks_thuggery"></div>

<p>Taikias demonstracijas prie Kinijos konsulatų San Francisko, Čikagos ir Niujorko miestuose taikiai surengę Falun Dafa praktikuotojai ne kartą buvo užpulti kinų banditų.</p>

<p>Šių išpuolių problemą apsunkina tai, kad daugelis Kinijoje gyvenančių ir dirbančių Falun Dafa praktikuotojų, kurie šiuo metu gyvena ir dirba JAV ir kitose šalyse, turi šeimą Kinijoje. Kai KKP sužino jų tapatybę, jų šeimoms Kinijoje iškyla realus pavojus.</p>

<h3>Sveiko proto saugumas, o ne 'slaptumas'</h3>

<p>Niujorke Falun Dafa praktikuotojai įkūrė miestelį 'Dragon Springs'. Šiame miestelyje yra kelios Tanų dinastijos stiliaus šventyklos, dvi klasikinio kinų šokio mokyklos ir 'Shen Yun Performing Arts' būstinė.</p>

<p>Studentų miestelyje prie pagrindinių įėjimų yra apsaugininkų postai.</p>

<p>'Dragon Springs' gyvenantys Falun Dafa praktikuotojai ir menininkai iš KKP agentų sulaukė realių grasinimų dėl jų gyvybės. Kodėl svetainės savininkai kviestų smalsius žiūrovus ir KKP agentus įsibrauti į ten dirbančių ir besimokančių žmonių privatumą? Atsižvelgiant į tai, kad studentų miestelyje gyvena ir dirba jauni žmonės, taip pat į tai, kad čia yra pabėgėlių iš Kinijos, tokios saugumo priemonės yra visiškai sveiko proto ir nerodo nieko slapto.</p>

<p>Tiesą sakant, 'Dragon Springs' miestelio prieigose esantys apsaugos postai yra beveik tokie patys, kaip ir apsaugos postai prie privačių mokyklų, universitetų ir įmonių miestelių visame pasaulyje. Šios apsaugos stotys veikia pagal pramonės standartą: pro apsaugos vartus kasdien praeina tie, kurie turi susitikimus ar kitas svarbias priežastis apsilankyti miestelyje, taip pat kasdienis pašto sunkvežimių, FedEx/UPS ir kitų įprastų prekių bei paslaugų pristatymų srautas.</p>

<p>Nėra jokio pagrindo 'Dragon Springs' apsaugą apibūdinti kaip slaptą, nebent siekiama sąmoningai sukelti įtarimus prieš Falun Dafa.</p>

    </article>
