html {
  font-family: sans-serif;
}
iframe {
    align-self: center;
}
/* The following 3 rules (dl, dt, dd) are specific to only one dl but I did not add an id */
figure {
    float: right;
    margin: 3px;
    padding: 3px;
    display: table;
    /* display: flex; */
    /* flex-flow: column; */
    align-items: center;
    justify-content: center;
    /* background: lightblue; */
}
figure img {
    margin: 1px;
    padding: 1px;

}
figcaption {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: small;
    display: table-caption;
    caption-side: bottom;
    /* text-align: center; */
}
dl {
    padding: 4px;
    margin: 2px;
    background: radial-gradient(ellipse farthest-corner, gold, rgba(255,255,255,0.4)) lightgoldenrodyellow;
}
dt {
  font-size: 50px;
  font-family: serif;
}
a {
  text-decoration  : none;
}
ol {
    margin: 3px;
}
ul {
    margin: 0;
}
li {
  text-align: left;
}
p {
  padding: 5px;
  margin: 3px 18px;
}
blockquote {
  display: flex;
  flex-direction: column;
  /* text-align: right; */
  background: lightblue;
}
cite {
  text-align: right;
  margin: -2mm 5em 2mm 1em;
}

body {
  margin: 0;
  /* font-family: "Courier New", sans-serif; */
  font-family: sans-serif;
  /* text-align: center; */
  text-align: justify;
}
label {
  text-justify: none;
  padding: 3px;
}
input {
  padding: 3px;
  margin: 3px;
}

header {
  display: flex;
  color: white;
  text-shadow: 0px 0px 2px black;
  flex-direction: column;
  background: #0097bcff url(https://manjaro:1443/banner.jpg);
  background-size:100%;
  background-repeat: no-repeat;
  height: 300px;
}
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

header h2 {
  text-align: left;
  line-height: 20px;
  margin-left: 30px;
  margin-left: auto;
  margin-top: auto;
}

h1 {
  text-align: left;
  margin-left: 100px;
  margin-right: 30px;
  cursor: pointer;
}

h2 {
  padding: 20px;
  text-align: left;
  cursor: pointer;
}

h3 {
  text-align: left;
  padding-left: 40px;
  margin: 5px;
  margin-top: 10px;
}

h4 {
  text-align: left;
  padding-left: 30px;
  margin: 4px;
  margin-top: 8px;
}

#bottom_of_header {
  display: flex;
  margin-top: auto;
  /* justify-content: flex-end; */
  align-self: flex-end;
  max-height: 4em;
}

article {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0px;
  /* background: radial-gradient(ellipse closest-side, red, yellow 10%, #1e90ff 50%, beige); */
  /* background: radial-gradient(ellipse furthest-corner, gold, rgba(255,255,255,0.2)); */
  background: linear-gradient(to right, rgba(255,255,255,0.2), LightGoldenRodYellow 10%, LightGoldenRodYellow 90%, rgba(255,255,255,0.2));
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  object-fit: contain;
  /* min-height: 90%; */
  max-width: 90%;
  padding: 10px;
  align-self: center;
}
#under_title {
  display: flex;
  align-items: top;
  justify-content: top;
  flex-direction: row;
  flex: 200px;
  /* flex-wrap: wrap; */
}

#sidebar {
  background: linear-gradient(116deg, #0097bcff, White);
  display: flex;
  align-items: left;
  justify-content: start;
  flex-direction: column;
  min-width: 12em;
  max-height: 100vh;
  position: sticky;
  top: 0px;
  /* min-width: 15%; */
}
#sidebar div {
    padding: 1em;
    margin: 4px;
    border-style: double double double none;
    border-color: black;
    font-weight: bold;
    width: 70%;
    text-align: center;
    background: linear-gradient(to right, rgba(128, 0, 128,0.1), rgba(128, 0, 128,0.3));
    color: white;
    cursor: pointer;
}

#sidebar_right {
  display: flex;
  align-items: left;
  justify-content: start;
  flex-direction: column;
  min-width: 200px;
  /* min-width: 20%; */
}

#main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 500px;
  min-width: 500px;
}

@media (max-width: 900px) {
    #under_title {
      flex-direction: column;
    }
    #sidebar {
      display: none;
      position: initial;
      max-height: unset;
    }
    #lang_picker span {
        display: none;
    }
}

#awards_pictures {
    display: flex;
    justify-content: center;
    padding-top: 6px;
}
#awards_pictures img {
    width: 33%;
    background: wheat;
    padding: 0px;
    marging: 0px;
}

#health_expo {
    width: 400px;
}

#wide_list li {
  cursor: pointer;
  font-size: large;
}

.misconceptions_key_points {
  padding: 1em;
  font-size: larger;
}

.misconceptions_key_points li {
  padding: 0.6em;
}

.buttons {
    font-size: 4em;
    display: flex;
    justify-content: center;
}
.button, .value {
    line-height: 1;
    padding: 2rem;
    margin: 2rem;
    border: medium solid;
    min-height: 1em;
    min-width: 1em;
}
.button {
    cursor: pointer;
    user-select: none;
}
.minus {
    color: red;
}
.plus {
    color: green;
}
.value {
    min-width: 2em;
}
.state {
    font-size: 2em;
}

.bold {
    font-weight: bold;
}

#lang_picker {
    position: absolute;
    top: 10px;
    right: 35px;
    text-decoration-line: none;
    text-align: left;
    align-self: end;
    font-size: xx-large;
}
#lang_picker span {
    font-size: medium;
    position: relative;
    bottom: 5px;
    color: #ddd;
}

/* copy pasted internet stuff */
dl {
    display: flex;
    flex-wrap: wrap;
    width:80%;
    /* max-width: 670px; */
    align-items: center;
    align-self: center;
}
/* dl > * { */
/*     padding-top: 0.5em; */
/* } */
dt {
    width: 20%;
    font-weight: bold;
    text-align:right;
}
dd {
    display: flex;
    align-items: center;
    width: 70%;
    padding:4px;
    margin-left: 15px;
}
dd + dd {
    width: 100%;
    padding-left: calc(35% + 1em);
}
dt + dt {
    padding-right: 60%;
}
dt + dt + dd {
    margin-top: -1.625em; /* own height including padding */
    padding-left: calc(30% + 1em);
}

.rotating_images {
    display: flex;
    flex-flow: column wrap;
    background: wheat;
}
.rotating_images div {
    display: flex;
}
.rotating_images div > div {
    width: 50%;
    justify-content: center;
    user-select: none;
}
.rotating_images figure {
    width: 100%;
    height: 0px;
    padding: 0px;
    margin: 0px;
    overflow: visible;
    display: block;
}
.rotating_images img {
    padding: 0px;
    max-width: 100%;
}
.faded_box {
    opacity: 0;
    transition: opacity 1s linear;
}
.visible_box {
    object-fit: contain;
    transition: opacity 1s linear;
}
#rotating_image__meta {
    opacity: 0;
    object-fit: contain;
    width: 100%;
    height: unset;
}
.rotating_images span {
    padding: 3px;
}

.acordeon {
    background: wheat;
}
.acordeon div {
    width: 100%;
}
.acordeon span {
    float: right;
    user-select: none;
    font-size: x-large;
    padding: 0px 3px 0px 3px;
    margin-top: -3px;
    transition: transform 2s;
}
.folded_box {
    transform: scale(1, 0);
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s ease-out;
}
.unfolded_box {
    max-height: 2000px;
    transition: max-height 2s ease-out, transform 0.2s ease-in;
    background: beige;
}
.rotate45 {
    transform: rotate(45deg);
    transition: transform 2s;
}
