    <article>
    <h3>Menas</h3>

    <p>Turbūt svarbiausias tradicinės kultūros atgaivinimo aspektas yra tradicinio meno atgaivinimas. Kaip ir muzikoje, meno kūriniuose atsispindi vidinis menininko pasaulis. Kai žmogaus protas tyras ir ramus, tai, ką jis eksponuoja, bus gražu ir pakylėta. Tuo tarpu asmuo, geriantis terpentiną ir nesuvaldantis savo emocijų, neišvengiamai sukurs keistų ir nerimą keliančių dalykų.</p>

    <p>Mėgaukitės. <small>(Šaltinis <a href="en.MingHui.org/cc/85">en.MingHui.org</a>)</small></p>

<ul>
    <li>
    <a href="https://en.minghui.org/html/articles/2021/5/29/193402.html">Kinų tapyba: Šventė su visu pasauliu</a>
    <img src="{CONTENT_SERVER}/svente-su-visu-pasauliu.jpg">
    <p>Užrašas: „Visas pasaulis švenčia Pasaulinę Falun Dafa dieną”.</p>
    <p>2021 m. gegužės 13 d., minint 29-ąsias Falun Dafa viešo pristatymo metines ir 22-ąją Pasaulinę Falun Dafa dieną, Guandžou mieste, Guandono provincijoje, Falun Dafa praktikuotojas sukūrė šią tradicinę kinų tapybą. Slyva paprastai žydi žiemos viduryje. Maži slyvų žiedai yra švelnūs ir švytintys, nepaisant šalto vėjo ar sniego žiemą. Jos dažnai laikomos vidinės stiprybės ir nepalaužiamos drąsos simboliu.</p>
    <p>Anonimas</p>
    </li>

    <li>
    <a href="https://en.minghui.org/html/articles/2022/8/4/202634.html">Tapyba: Palaiminimus nešantis pakabukas</a>
    <img src="{CONTENT_SERVER}/pakabukas.jpg">
    <p>Tradicinėje kinų kultūroje violetinė yra palanki spalva. Pakabindama pakabuką su užrašu „Falun Dafa yra geras” ant medžio, mergina tikisi, kad daugiau žmonių puoselės Falun Dafa ir jos Tiesos, Gerumo ir Pakantumo principus, tuo pačiu atsiribodami nuo šmeižikiškos Kinijos komunistų partijos propagandos, kurią ji skleidė per 23 metus trunkantį persekiojimą.</p>
    <p>2022 m. rugpjūčio 4 d | Anonimas (iš Kinijos)</p>
    </li>

    <li>
    <a href="https://en.minghui.org/html/articles/2021/6/6/193570.html">Tapyba: Pavasaris ateina</a>
    <img src="{CONTENT_SERVER}/art.jpg">
    <p>2021 m. biržėlio 6 d | Gui Džen</p>
    <p>Šį paveikslą įkvėpė daina iš „Devynių komentarų apie komunistų partiją” vaizdo įrašo.</p>

    <p>...Žmonės grįžta prie tradicijų, kalnai ir upės atgauna savo grožį</p>

    <p>Menininkas tiki, kad tie, kurie remia Tiesos-Gerumo-Kantrybės principus (simboliai išraižyti kalne centre) ir nepamiršta kad Falun Dafa yra geras (žodžiai plakate apačioje dešinėje), bus palaiminti ir turės šviesią ateitį.</p>
    </li>

    <li>
    <a href="https://en.minghui.org/html/articles/2021/6/15/193708.html">Tapyba akrilu: Lotosas purviname pasaulyje</a>
    <img src="{CONTENT_SERVER}/lotus.jpg">
    <p>Šiandieniniame pandemijos apimtame pasaulyje, kuriame vyksta kova tarp gėrio ir blogio, o žmonėms sunku atskirti, Falun Dafa teikia pasauliui viltį ir nušviečia kelią į ateitį.</p>
    <p>Nepaisant dvidešimt vienerius metus trukusių išbandymų ir sunkumų, Falun Dafa mokiniai vis dar tvirtai laikosi savo tikėjimo, kaip tyri lotoso žiedai po lietaus.</p>
    <p>2021 m. birželio 15 d. | Falun Dafa praktikuotojas iš Čiondžu, Pietų Korėja</p>
    </li>
</ul>
    <h3>Daugiau</h3>
    <p>Susipažinkite su <a href="https://tv.faluninfo.net/the-art-of-zhen-shan-ren-meet-the-artists/">menininkais</a>.</p>
    <p>Meno <a href="https://tv.FalunInfo.net/the-art-of-zhen-shan-ren/">kūrinių</a> pristatymas.</p>
    <p>Jei norite įsigyti meno kūrinių reprodukcijų, apsilankykite. <a href="https://www.ShenYunShop.com/collections/zhen-shan-ren-art-prints/">ShenYunShop.com</a></p>
    
    </article>
