
          <article>
            <h3>Falun Dafa</h3>
            <p>Falun Dafa (arba Falun Gong) yra budizmo tradicijos dvasinė praktika, kurios pagrindiniai principai yra Tiesa, Gerumas, Kantrybė. Nors ši praktika visuomenei buvo pristatyta tik 1992 metais, jos šaknys siekia tūkstančius metų.</p>

            <h3>Šimtai milijonų žmonių Kinijoje patiria persekojimą</h3>
            <p>1999 metais Kinijoje buvo 100 milijonų Falun Dafa praktikuotojai. Dėl šios praktikos populiarumo ir nepriklausomybės komunistų lyderis įsakė ją „išnaikinti”. Milijonai žmonių buvo sulaikyti arba įkalinti. Daugiau kaip 100 000 jų buvo kankinami arba patyrė prievartą sulaikymo metu, o tūkstančiai mirė nuo kankinimų sulaikymo metu.</p>

            <h3>Priverstinis organų paėmimas</h3>
            <p>Komuniztinis režimas žudo Falun Dafa praktikuotojus, kad jų organai būtų panaudoti Kinijoje sparčiai augančiam organų persodinimo verslui. 2019 metais birželį Londone įsikūręs nepriklausomas tribunolas padarė išvadą, kad „Falun Dafa” praktikuotojai buvo ir tebėra žudomi dėl jų organų „dideliu mastu”.</p>

            <h3>Taikingas pasipriešinimas</h3>
            <p>
                Dauguma nesitikėjo, kad pradėjęs taikią dvasinę praktiką, skirtą sveikatai pagerinti, žmogus galiausiai susidurs su dar neregėtu blogiu.
                Tikroji Falun Dafa istorija yra nepakartojama.
                Milijonai žmonių buvo įkvėpti pakilti iš blogosios komunistų partijos kultūros ir tapti geresniais.
                Tik tam, kad susidurtų su vis didesniu pasipriešinimu.
            </p>
          </article>
