    <article>
<h3>Kinijos tribunolas</h3>

<blockquote>
<p>Kinijos tribunolas yra nepriklausomas liaudies teismas, įsteigtas siekiant ištirti priverstinį organų paėmimą iš, be kita ko, sąžinės kalinių Kinijoje ir ištirti, kokius nusikaltimus, jei tokių yra, padarė Kinijos valstybinės ar valstybės patvirtintos įstaigos, organizacijos ar asmenys, galimai dalyvavę priverstiniame organų paėmime. </p>

<p>Galutinis sprendimas buvo paskelbtas 2019 m. birželio mėn. Išsamus sprendimas paskelbtas 2020 m. kovo mėn.</p>
<cite>-- ChinaTribunal.com</cite>
</blockquote>


<p>Per šį tribunolą surinkti įrodymai yra bene sistemingiausias ir patikimiausias dokumentų rinkinys apie Kinijoje vykdomą persekiojimą (-us). Tribunolą surengė gerai žinomi ir geros reputacijos teisininkai. Tribunolui pirmininkavo QC seras Geofrey Nice. Buvo laikomasi visų standartinių teismo posėdžio procedūrų ir buvo tvirtinama tik tai, kas gali būti įrodyta be pagrįstų abejonių.</p>

<p>Toliau pateikiamas tarpinio teismo sprendimo vertimas. Kalba gali pasirodyti pernelyg daugžodžiaujanti - tokia yra profesionalių teisininkų kalba. Pilnas teismo sprendimas jau yra paskelbtas, tačiau jis yra 500 puslapių apimties, todėl jo neišvertėme.</p>

<p><a href="https://chinatribunal.com/interim-judgement/">Originalas čia</a>.</p>

<div>
<hr>
</div>

<h3>Nepriklausomas tribunolas dėl priverstinio organų paėmimo iš sąžinės kalinių Kinijoje</h3>

<ol>
    <li>Tris dienas trukusi liudytojų iš viso pasaulio apklausa baigėsi. Kaip prognozuota mano įžanginėje kalboje, Tribunolas, išklausydamas liudytojus, pradėjo vykdyti tyrimo funkciją, todėl vienu ar kitu būdu bus surengtas dar vienas ar keli posėdžiai. Šie posėdžiai leis Tribunolui baigti priimti papildomų liudytojų parodymus ir dokumentinius įrodymus, kuriuos pats Tribunolas įvardijo kaip galimai vertingus, įskaitant dokumentus, kurių buvo prašoma iš liudytojų jų parodymų metu.</li>

    <li>
        <p>Išnagrinėjęs šią medžiagą, Tribunolas viešai paskelbs savo sprendimą. Tikimasi, kad tai įvyks kitų metų pavasarį. Iki to laiko Kinijos Liaudies Respublikai ( KLR) bus suteikta galimybė persvarstyti:</p>
        <ol>
            <li>gautus kvietimus, į kuriuos ji neatsakė, ir apsvarstyti dalyvavimą procese, nes ji vis dar gali.</li>
            <li>Įvardyti gydytojai, kurie išreiškė palankią nuomonę apie Kinijos transplantacijos praktiką ir kurie iki šiol atsisakė kvietimų padėti Tribunolui, gali persvarstyti savo poziciją; tikimasi, kad jie tai padarys.</li>
        </ol>
    </li>

<li>Kvietimas teikti įrodymus CHINATRIBUNAL interneto svetainėje tebėra atviras, kad visuomenė ir toliau galėtų teikti pareiškimus arba nurodyti kitus liudytojus ar rašytinius įrodymus, kuriuos Tribunolas galbūt norės išnagrinėti.</li>

<li>ETAC (End Transplant Abuse in China) ir Tribunolas vis dar supranta, kad reikia turėti galimybę susipažinti su asmenimis arba medžiaga, kurie leistu manyti, kad Kinijos organų transplantacijos praktikoje nėra nieko nusikalstamo. Todėl Tribunolas būtų dėkingas už pranešimą apie tokių asmenų, kurie galėtų padėti pateikti 'išteisinančius įrodymus', vardus ir pavardes arba panašaus pobūdžio rašytinę medžiagą, į kurią galbūt dar nebuvo atkreiptas Tribunolo dėmesys.</li>

<li>Priminsime, kad nė vienoje iš daugelio ataskaitų apie Kinijos transplantacijos praktiką nebuvo konkrečiai tiriama, ar tai buvo susijusi su tarptautiniais baudžiamaisiais nusikaltimais, nors dažnai teigiama, kad jie galėjo būti padaryti. Liaudies tribunolai paprastai nagrinėja įtarimus dėl itin sunkių nusikaltimų, kuriuos įvykdė valstybės ar valstybės remiamos institucijos ir kurių, kaip šiuo atveju, nesugebėjo išnagrinėti oficialios nacionalinės ir tarptautinės institucijos. Šis tribunolas tirs, ar tarptautinius baudžiamuosius nusikaltimus įvykdė valstybės ar valstybės remiamos įstaigos, organizacijos ar asmenys Kinijoje, kurie galėjo vykdyti priverstinį organų paėmimą.</li>

<li>Be to, reikėtų priminti, kad bet kokia Tribunolo galutinio sprendimo išvada, kad nusikaltimų padarymas visiškai įrodytas, be jokių išimčių bus grindžiama Tribunolo narių įsitikinimu, kad tokia išvada nekelia pagrįstų abejonių. Kitos vienokios ar kitokios išvados, jei tokių bus, padarytos esant mažesniam tikrumo lygiui, bus paaiškintos sprendime.</li>

<li>Ne Tribunolas turi rūpintis, kaip bus naudojamas jo sprendimas, nes tai pirmiausia priklauso ETAC kompetencijai. Vis dėlto niekam, kas bent kiek susipažinęs su daugelį metų reiškiamais kaltinimais dėl priverstinio organų paėmimo iš sąžinės kalinių, negali nepastebėti, kad pakartotinės KLR nepalankios išvados galėjo turėti mažai įtakos tokiai praktikai, jei apskritai turėjo.</li>

<li>Taip pat Tribunolas neturėtų pernelyg daug dėmesio skirti tam, kaip KLR praktika prieštarauja tarptautinėms normoms ir "šokiruoja žmonijos sąžinę", cituojant Tarptautinio baudžiamojo teismo statuto preambulę. Tribunolas tiesiog turi atlikti savo darbą pagal savo įgaliojimus, t. y. ištirti, kokie nusikaltimai buvo padaryti vykdant organų transplantacijos praktiką KLR, ir tai turi būti nustatyta remiantis Tribunolui pateiktais ar jo pareikalautais įrodymais ir niekuo kitu.</li>

<li>Vis dėlto Tribunolas negali neatsižvelgti į tai, kad šiuolaikiniame pasaulyje, kuriame visos šalys ir jų piliečiai yra tarpusavyje susiję per prekybą ir kitais būdais, vieši pareiškimai, kuriuose kritikuojamas vienos šalies elgesys, gali turėti tam tikrą poveikį tai šaliai tiesiogiai arba netiesiogiai, kai pranešama kitoms šalims ir jų piliečiams, kurie palaiko ryšius su šia šalimi ir taip ją remia.</li>

<li>Paprastai toks teismas, kaip mūsų, nepriimtų dalinio ar tarpinio sprendimo, bet palauktų, kol priims visus svarbius faktinius ir teisinius sprendimus, ir tada priimtų vieną galutinį sprendimą. Kitokie kriterijai gali būti taikomi tais atvejais, kai dalinio ar tarpinio sprendimo priėmimas gali būti naudingas tiesioginei visuomenės gerovei.</li>

<li>Neįprastai ir dėl konkrečios priežasties, kuri bus nurodyta toliau, Tribunolas dabar skelbia savo išvadą tik pagal vieną faktą iš daugelio, kuriuos galiausiai reikės išnagrinėti atsakant į Tribunolui pateiktą klausimą.</li>

<li>Visi Tribunolo nariai vieningai ir neabejotinai įsitikinę, kad Kinijoje priverstinis organų paėmimas iš sąžinės kalinių buvo praktikuojamas ilgą laiką, o aukų buvo labai daug. Galutiniame sprendime išsamiai aptarsime savo išvadas dėl to, ar vykdant šią praktiką buvo įvykdyti tarptautiniai nusikaltimai, jei taip, tai kas juos įvykdė, ir išsamiai nurodysime laikotarpius ir aukų skaičių. Šis galutinis sprendimas bus grindžiamas tolesne dabartinės medžiagos analize ir kita medžiaga, kuri dar turi būti pateikta, taip pat teisinėmis konsultacijomis, kurios dar turi būti gautos.</li>

<li>Tačiau, pakartosime, kad remiantis turimais įrodymais neabejotina, jog valstybės remiamos ar patvirtintos organizacijos ir asmenys prievartinį organų paėmimą vykdė dideliu mastu.</li>

<li>Nesiremiant nusikalstamumu, galima drąsiai teigti - galbūt neatsitiktinai Žmogaus teisių dieną, kai šiemet sukanka lygiai 70 metų, kai buvo priimta Visuotinė žmogaus teisių deklaracija, - kad priverstinio organų paėmimo praktika Kinijoje, kaip matyti iš mums pateiktų įrodymų, pažeidžia bent jau Deklaracijos nuostatas:<br>
    3 straipsnis (teisė į gyvybę);<br>
    6 straipsnis (asmens pripažinimas prieš įstatymą);<br>
    7 straipsnis (lygybė prieš įstatymą);<br>
    9 straipsnis (teisė nebūti savavališkai suimtam);<br>
    10 straipsnis (visiška lygybė į teisingą ir viešą bylos nagrinėjimą nustatant teises);<br>
    11 straipsnis (nekaltumo prezumpcija).<br>
5 straipsnis (kankinimas) taip pat buvo pažeistas remiantis liudytojų, kurie buvo pakviesti daugiausia padėti pateikti įrodymus apie įvykius kalėjimuose, kai buvo atliekami medicininiai tyrimai, susiję su asmenų paruošimu organų paėmimui; visi liudytojai, išskyrus vieną, buvo kankinami.
</li>

<li>Iš mūsų sprendimo dėl šio atskiro klausimo matyti, kad gautais įrodymais mes turėjome būti 'visiškai tikri', kad šie dalykai buvo daromi labai dideliu mastu ir ilgą laiką. Šį sprendimą priėmėme neatsižvelgdami į tuos, kurie galėjo pateikti priešingus įrodymus. Reikia aiškiai suprasti, kad bet kokie nauji įrodymai, kuriuos vėliau pateiks gydytojai, mokslininkai, vyriausybės pareigūnai ar kas nors kitas, bus svarstomi taip pat, kaip ir tuo atveju, jei jie būtų buvę išklausyti per pastarąsias tris dienas. Taip pat reikia visiškai suprasti, kad ne visi liudytojai pateikė įrodymus, patvirtinančius konkrečią išvadą, kurią iki šiol padarėme - kai kurie liudytojai pateikė faktinių įrodymų, kurių patikimumas nekelia abejonių, ir dėl to šis pagrindinis klausimas toliau nesvarstomas.</li>

<li>Priimti šį dalinį tarpinį sprendimą dabar yra pagrįsta, atsižvelgiant į tai, kad, kaip minėta, vieši pareiškimai, kuriuose kritikuojamas vienos šalies elgesys, gali turėti tam tikrą tiesioginį ar netiesioginį poveikį tai šaliai, nes apie tai gali būti informuojamos šalys ir asmenys, kurie palaiko ryšius su ta šalimi ir taip ją remia.</li>

<li>Reikia turėti omenyje, kad ataskaitose nuolat kartojami pranešimai apie priverstinį organų paėmimą KLR - net ir tie pranešimai, kuriuose kalbama apie galimą nusikalstamumą, - kiek žinoma, neturėjo jokios įtakos transplantacijos praktikai KLR. Gali būti, kad aiški ir neabejotina išvada - nekelianti pagrįstų abejonių -, kurią darome dėl priverstinio organų paėmimo, nors pati savaime ir šiame etape nėra tarptautinės baudžiamosios atsakomybės išvada, turės tiesioginį poveikį KLR arba tiems, su kuriais ji bendrauja. Jie, sužinoję apie priverstinio organų paėmimo praktiką Kinijoje, turėtų pagalvoti apie bet kokią paramą, kurią jie veiksmingai teikia bendradarbiaudami su KLR.</li>

<li>Galbūt visi turėtume susimąstyti apie tai, kad viešinimo deguonis, kuris buvo suteiktas pareikštiems kaltinimams ir kuris buvo paremtas mūsų laikinuoju sprendimu, gali leisti tikrajam gyvybės deguoniui tęsti gyvenimą kai kuriems žmonėms, kurie kitu atveju būtų nužudyti. Dėl tokio įsivaizduojamo rezultato - nedidelės tikimybės, tikriausiai tolimo, bet tikrai įmanomo - mums ne tik dera, bet ir privalu viešai užfiksuoti savo dabartinį įsitikinimą dėl KLR priverstinio organų paėmimo praktikos. Jei tai padarysime dabar, galbūt išgelbėsime nekaltus žmones nuo žalos.</li>

<li>Atsižvelgdami į kelias savo pareigas pasaulio piliečiams, galime tinkamai prisiminti praeities žiaurumus, kai valstybės siekė sunaikinti tam tikrą savo bendruomenės dalį, ir prisiminti, kokį vaidmenį siaubinguose įvykiuose suvaidino tie, kurie tylėjo.</li>

<li>Pavojingos suvereniteto sampratos, kurios dabar gali leisti "kitoms" šalims savo teritorijoje daryti su savo piliečiais tai, kas joms patinka, neatsižvelgia į tai, kad žmonija yra viena šeima, kurią saugo esminės ir kodifikuotos teisės. Su šiomis koncepcijomis reikia kovoti, ir, priėmus aiškius ir tikrus sprendimus, tokius kaip mūsų sprendimas dėl priverstinio organų paėmimo, galima tikėtis realios naudos.</li>

<li>Pavojingos suvereniteto sampratos, kurios dabar gali leisti 'kitoms' šalims savo teritorijoje daryti su savo piliečiais tai, kas joms patinka, neatsižvelgia į tai, kad žmonija yra viena šeima, kurią saugo esminės ir kodifikuotos teisės. Su tokiomis sampratomis būtina konfrontuoti, ir, konfrontuojant su jomis aiškiais ir tikrais sprendimais, tokiais kaip mūsų sprendimas dėl priverstinio organų paėmimo, galima tikėtis realios naudos.</li>

<li>Kaip jau paaiškinta, galutinį sprendimą paskelbsime savo laiku.</li>

</ol>

<p>Londonas 2018 m. gruodžio 10 d.</p>

<p>Seras Geoffrey Nice QC Kinijos tribunolo pirmininkas</p>

<p>Posėdžio komisijos nariai: Martin Elliott, Andrew Khoo, Regina Paulose, Shadi Sadr, Nicholas Vetch ir Prof. Arthur Waldron</p>
    </article>


<!-- 
    The evidence gathered during this tribunal is possibly the most systematic and most trustworthy set of documents gathered about the persecution(s) happening in China. The tribunal was held by well known reputable lawyers. The chair of the tribunal was Sir Geofrey Nice QC. All the standard procedures for holding a court of law were followed and only what can be proved beyond a reasonable doubt was asserted.

    Below is the translation of the interim judgement. The language can feel overly verbose -- such is the language of professional lawyers. The full judgement has already been published, but it is 500 pages long so it was not translated.
-->
