
          <article>

  <h3>Beveik prarastos senovinės šaknys</h3>

<strong>Tikroji tradicinė kinų kultūra yra gili... ir senovinė. Tai kultūra, kurioje gerbiamas dieviškumas ir gyvenimas pagal "Kelią" - laikantis harmonijos su dangumi ir žeme.</strong>

<p>Tradicinė kinų kultūra apima keletą dvasinių disciplinų ir filosofijų.</p>

<p>Daoizmas pabrėžia tiesą ir sąžiningumą.</p>

<p>Budizmas skatina užuojautą.</p>

<p>Konfucianizmas moko, kaip palaikyti santykius pagal "Kelią", remdamasis tokiais principais kaip teisingumas, pamaldumas ir tolerancija.</p>

<p>Šie gilūs mokymai tūkstantmečius buvo kinų civilizacijos pagrindas - civilizacijos, kuri didžiąją savo istorijos dalį buvo galinga kultūriniu, ekonominiu ir kariniu atžvilgiu.</p>

<p>Nuo 1800 m. Kinija patyrė daug karinių pralaimėjimų ir stichinių nelaimių. Kartu buvo prarastas ryšys su didele dalimi jos kultūros esmės.</p>

<h3>Tradicinės kinų kultūros naikinimas</h3>

<p>1949 m. Kinijoje valdžią užgrobė komunistinis režimas, dėl kurio ir taip kenčianti tauta dar labiau smuko žemyn. Per kitus kelis dešimtmečius KKP ne kartą pradėjo smurtines politines kampanijas, per kurias žuvo dešimtys milijonų žmonių. Daugelis Kinijos žmonių vis labiau skurdo, bijojo ir buvo atskirti nuo savo autentiško paveldo didybės.</p>

<img src="{CONTENT_SERVER}/CulturalRevolution1-1024x576.jpg" title="Proletarinė kultūrinė revoliucija iš Kinijos visuomenės pašalino tradicinius elementus.">

    <p>(kairėje) Viešas kultūros elito ir religinių lyderių pažeminimas. (centre) Senovinių knygų ir šventraščių deginimas. (dešinėje) Budos statulų deginimas ir naikinimas. Daug garsių šventyklų, šventovių ir kitų paveldo objektų visoje Kinijoje buvo sugriauta, o šventieji atvaizdai pakeisti pirmininko Mao Dzedono nuotraukomis. </p>

    <h3>Falun Dafa ir kultūrinis atsinaujinimas</h3>

    <p>Kai 1992 m. gegužę Li Hundži visuomenei pristatė Falungun, jis paviešino ne tik sveikatą ir savijautą gerinančią ciguno praktiką. Falungun simbolizavo senų, gerų Kinijos dalykų atradimą iš naujo.</p>

    <p>Falun Dafa yra tiesioginis ir autentiškas ryšys su tikrąja tradicine kinų kultūra, o jį įdiegus Kinijos žmonėms buvo sugrąžinta šių gilių tradicijų transformuojanti galia.</p>

    <p>1999 m. - praėjus vos septyneriems metams po pirmojo pristatymo visuomenei - visoje Kinijoje praktikavo 100 mln. žmonių.</p>

    <p>Taigi, kai kinų tauta ruošėsi žengti į XXI amžių, valdant komunistinei tironijai, o didelė dalis gyventojų stengėsi užsitikrinti ekonominį saugumą, Falun Dafa sukėlė tradicinės kinų kultūros atgimimą.</p>


          </article>
