<!-- Falun-Gong_The-Rise-of-Falun-Gong__TopicImg-1024x440.jpg -->
          <article>

  <h3> Falun Dafa iškilimas</h3>

  <p><strong>Išgyvenę Kultūrinę revoliuciją (1966-1976 m.) ir patyrę didelių traumų, kinai ieškojo galimybių atkurti ryšį su senosiomis dvasinėmis tradicijomis, nerizikuodami būti pasmerkti kaip atsilikėliai ar kontrrevoliucionieriai. Kad ir kaip Kinijos komunistų partija stengėsi išnaikinti senąsias kinų dvasines praktikas, siekdama įtvirtinti klasių kovą ir ateizmą kaip naująją Kinijos kultūrą, ji negalėjo ištrinti tradicinių dvasinių įsitikinimų iš žmonių širdžių. </strong></p>


<!-- <h3>Nuolanki Falun Dafa pradžia</h3> -->

<p>1990-ųjų pradžioje Kinijoje kilo didžiulė ciguno šėlsmo banga. Tuo metu daugybė ciguno mokytojų varžėsi dėl pasekėjų. Netikėtai scenoje pasirodė vienas, kuris atkreipė visos Kinijos dėmesį. </p>

<div>

<figure>
    <img src="{CONTENT_SERVER}/Master-Li-Hongzhi__800px-300x169.jpg" title="Li Hundži, Falun Dafa įkūrėjas.">
    <figcaption>
        Li Hundži, Falun Dafa įkūrėjas.
    </figcaption>
</figure>

<p>Li Hundži gimė šiaurės rytiniame Čangčuno mieste, jaunystėje mokėsi pas budizmo ir daoizmo mokytojus. 1992 m., dvejus metus dirbęs su nedidele mokinių grupe ir stebėjęs, ar Falun Dafa praktika tinkama skleisti visuomenėje, ponas Li supažindino plačiąją visuomenę su senoviniu tradiciniu tobulėjimo metodu. </p>

<p>Li Hundži gimė šiaurės rytiniame Čangčuno mieste, jaunystėje mokėsi pas budizmo ir daoizmo mokytojus. 1992 m., dvejus metus dirbęs su nedidele mokinių grupe ir stebėjęs, ar Falun Dafa praktika tinkama skleisti visuomenėje, ponas Li supažindino plačiąją visuomenę su senoviniu tradiciniu tobulėjimo metodu. </p>

</div>

<p>Jo paskaitos skyrėsi nuo kitų ciguno mokytojų paskaitų, nes jis nuolat akcentavo moralės normas ir savęs tobulinimą.</p>

<p>1992 m. gegužės 13 d. Li Hundži skaitė pirmąją paskaitą apie Falungun. Mažoje mokyklėlėje Čangčuno mieste, esančiame šiaurės rytų Kinijoje, paskaitos klausėsi apie 180 klausytojų. </p>

<p>Po penkių mėnesių Kinijos valstybinė Ciguno mokslo tyrimų asociacija pripažįsta Falungun kaip oficialų jo padalinį. Ponas Li oficialiai paskelbiamas 'Ciguno meistru' ir gauna leidimą mokyti Falungun visoje šalyje. </p>

<h3>„Falungun yra stebuklingas!“</h3>

<div>

<figure>
<div id="health_expo"></div>
</figure>

<p><strong>1992 m. gruodis</strong> - Li kartu su keliais savo mokiniais dalyvavo Azijos sveikatos parodoje, kuri vyko Pekine. Jiems išgydžius daugybę žmonių ligų, naudojant gydymą cigunu, žinia „Falungun yra stebuklingas” nuskambėjo per visas parodos dalyvių mases. </p>

<p>Li gavo daugiausiai apdovanojimų iš visų renginyje dalyvavusių meistrų. Tai leido Falungun įsitvirtinti ciguno arenoje. Susidomėjimas Falungun iš karto smarkiai išaugo. </p>


<p><strong>1992-1994 m.</strong> - reaguodamas į visuotinę paklausą, šiais metais ponas Li beveik be sustojimo keliauja po visą Kiniją. Per dvejus metus, tarp kelionių praleisdamas vos po kelias dienas, Li skaitė 54 paskaitų ciklus apie Falungun. Seminarai, kuriuos dažnai rengdavo vietinės valstybinės cigungo organizacijos, paprastai trukdavo 8-10 dienų.</p>

<p>Ponas Li ėmė tik nedidelius mokesčius, kad padengtų kelionės ir patalpų nuomos išlaidas. Nors jis niekada nereklamavo savo paskaitų, iš lūpų į lūpas greitai pasklido informacija apie šios praktikos naudą sveikatai, kuri galiausiai pritraukė tūkstančius lankytojų. </p>

</div>

<img src="{CONTENT_SERVER}/Falun-Gong-Story_Rise-of-Falun-Gong_Master-Lecture-1993-1024x576.jpg" title="Pono Li paskaita apie Falungun Vuhane, 1993 m.">

    <h3>Falungun mokymai skiriasi nuo kitų ciguno mokyklų.</h3>

    <p>Falungun moko tiesos, gerumo ir pakantumo principų. Jame akcentuojamas charakterio ugdymas ir dorybė, o ne antgamtinės galios, kaip tikrasis kelias į sveikatą ir dvasinį pakilimą. </p>

    <p>Iš pradžių daugelį žmonių Falungun patraukė dėl jo gydomojo poveikio. Tačiau svarbi Falungun paplitimo priežastis taip pat buvo paprasti ir nesudėtingi reikalavimai praktikuojantiems: Reikia gyventi pagal tiesą, gerumą ir pakantumą, atsisakyti neigiamų prisirišimų ir būti atsakingam prieš save ir kitus. Ponas Li neskatino fanatizmo, kurį kitų ciguno mokyklų praktikuotojai taip dažnai skirdavo savo mokytojams, o skatino Falungun praktikuotojus susitelkti į tai, kas svarbiausia - tapti geresniu žmogumi. </p>

    <h3>„Tikrieji senoviniai, geri dalykai sugrįžo!”</h3>

<p>Kinijos visuomenė greitai pripažino, kad Falungun yra tikrai naudingas prasmingo gyvenimo principų rinkinys. Tai pritraukė žmones iš visų visuomenės sluoksnių, įskaitant vos raštingus ūkininkus, universitetų profesorius, namų šeimininkes ir komunistų kadrus. </p>

<p>Kinijos žmonės, susidūrę su Falungun, nepriklausomai nuo to, ar jie pasirinko jį praktikuoti, ar ne, dažniausiai manė, kad atgimė tikrasis Kinijos paveldas. Kaip pasakoja į pensiją išėjęs Kinijos pareigūnas Hao Je: „Žmonės iš tiesų priėmė tai į širdį. Mes tikime, kad per Falungun sugrįžo tikri senoviniai, geri dalykai!”</p>

<h3>Kinijos viešojo saugumo ministerijos pagyrimai</h3>

<p><strong>1993 m. rugpjūčio 30 d.</strong> - Kinijos komunistų partijos centrinio komiteto Viešųjų ryšių departamentas ir Viešojo saugumo ministerija surengė nacionalinę teisingumo ir drąsos didvyrių pripažinimo konferenciją. </p>

<p>Organizatoriai pakvietė poną Li Hundži, kad jis konferencijos dalyviams suteiktų ciguno terapiją ir palengvintų jų skausmus. Tarp šimto dalyvių daugelis buvo sužeisti ir neįgalūs kovodami su nusikalstamumu, vis dar kenčiantys nuo įvairių simptomų net ir po reguliaraus gydymo. Daugelis patyrė ilgalaikių sveikatos komplikacijų dėl durtinių, šautinių ir kitų sužeidimų. Gavus gydymą išnyko simptomai, įskaitant skausmą, galvos skausmą, nuovargį ir svaigimą. </p>



<div>

<figure>
    <img src="{CONTENT_SERVER}/Falun-Gong-Story_Rise-of-Falun-Gong_Public-Security-Letter-300x169.jpg" title="">
    <figcaption>
<strong>Padėkos raštas - 1993 m. rugpjūčio 31 d.</strong> Kinijos teisingumo ir drąsos fondas, Viešojo saugumo ministerijos filialas, parašė padėkos raštą po to, kai Li Hundži fondo garbės nariams suteikė ciguno procedūras.
    </figcaption>
</figure>

<p>„Kai kuriems po gydymo išnyko augliai, kai kuriems per 24 valandas po gydymo išnyko tulžies pūslės akmenys, kai kurie, sergantys skrandžio, širdies ar sąnarių ligomis, iškart po gydymo pajuto, kad jų simptomai pašalinami vietoje. Iš šių beveik 100 pacientų, išskyrus vieną, kuris sirgo nedidele liga ir nepajuto akivaizdaus poveikio, visi kiti pajuto dramatišką įvairaus laipsnio gydymo poveikį. Tokių gydymo seansų galingas poveikis buvo labai gerai įvertintas”, - teigiama organizatorių padėkos laiške.</p>

</div>

<img src="{CONTENT_SERVER}/Falun-Gong-Story_Rise-of-Falun-Gong_Master-Lecture-PublicSecurity-1024x576.jpg" title="1993 m. gruodis - Li yra pakviestas skaityti Falungun paskaitą Viešojo saugumo ministerijos universiteto auditorijoje Pekine.">
 
<h3>Ponas Li paskelbtas labiausiai pripažintu cigun meistru, Falungun Azijos sveikatos parodoje gauna aukščiausius cigun apdovanojimus</h3>

<p><strong>1993 m. gruodis</strong> - Praėjus vos pusantrų metų po to, kai visuomenei buvo pristatytas Falungun, Li jau gavo specialų kvietimą dalyvauti 1993 m. Azijos sveikatos parodoje kaip vienas iš organizacinio komiteto narių. </p>

<div>

<figure>
    <img width=300 src="{CONTENT_SERVER}/Falun-Gong-Story_Rise-of-Falun-Gong_Master-Li-Healing-Asia-Expo_Awards.jpg">
    <figcaption>
        <strong>Aukščiausi apdovanojimai</strong> - ponas Li parodoje gavo daugiausiai ir aukščiausių apdovanojimų: "Apdovanojimas už pažangos pasiekimus pasienio moksluose", "Specialusis aukso prizas" ir "Labiausiai pripažinto cigun meistro" titulas.
    </figcaption>
</figure>

<p>Nors Li savo mokymuose aiškino, kad Falungun tikslas nėra ligų gydymas ir kad jis su savo mokiniais dalyvavo parodoje, norėdamas palaikyti valstybės remiamą cigun renginį, iš tikrųjų 93 m. paroda tapo didžiule Falungun proga. Prie kitų cigun stendų lankėsi nedaug žmonių, o prie Falungun stendo buvo pilna žmonių, ilgos eilės laukė gydomųjų procedūrų ir autografų.</p>

<p>Galingas gydomasis Falungun poveikis šiuo metu buvo neabejotinas, todėl parodos komitetas ir Cigun specialistų komitetas sutarė, kad aukščiausias parodos apdovanojimas - "Apdovanojimas už pažangą pasienio mokslų srityje". - turėtų būti įteiktas ponui Li Hundži. Jis taip pat gavo "Specialųjį aukso prizą" ir "Labiausiai pripažinto cigun meistro" titulą. Falungun žinomumas labai išaugo. </p>

</div>

<h3>Greitas ir nemokamas praktikos plitimas visuomenėje</h3>

<p>Nors rytiniai grupiniai ciguno pratimai yra įprastas vaizdas Kinijos parkuose, tačiau Falungun praktikos vietose dalyvių skaičius buvo neįprastas. </p>

<p>Savanoriai nemokamai mokė pratimus visiems, kurie norėjo jų išmokti. Kai viena pratybų vieta tapdavo per didelė, praktikuotojai savanoriškai pradėdavo rengti naujas kitose vietose.</p>

<div id="spreading_publicly"></div>

<h3>Valstybinė žiniasklaida: Nuostabus gydomasis poveikis. Gerieji samariečiai ir didvyriai.</h3>

<p>Apie šią praktiką vis dažniau kalbama, visų pirma dėl jos naudos sveikatai ir pilietiškumo skatinimo. Vis dažniau pasirodo pranešimai apie didvyriškus ir dorybingus poelgius, geresnę moralę ir nesavanaudišką pagalbą vietos bendruomenėms. Viešojo saugumo ministerija savo publikacijose pripažino pono Li ir Falungun veiklą už socialinio stabilumo stiprinimą ir net apdovanojo jį Garbės raštu.</p>

<blockquote><p>„[Dėkojame ponui Li už jo indėlį] skatinant tradicines kinų tautos kovos su nusikalstamumu dorybes, saugant socialinę tvarką ir saugumą bei skatinant visuomenės teisingumą.”</p><cite>— Liaudies viešojo saugumo laikraštis (Kinijos viešojo saugumo ministerijos leidinys), 1993 m. rugsėjo 21 d.</cite></blockquote>

<p>Falungun mokė, kad tik pakėlus mąstymą ir elgesį galima pasiekti tikrą ir ilgalaikę sveikatą. Taip ir buvo. </p>

<p>1998 m. Dalianio mieste atlikta 6000 praktikuotojų apklausa parodė, kad sergantieji beveik visiškai pasveiko. Panašūs tyrimai atlikti ir kituose Kinijos miestuose bei Rusijoje. Netgi lėtiniais ir nepagydomais ligoniais, pavyzdžiui, sergančiais vėžiu, imunologinėmis ligomis ir neurologinėmis ligomis, praktikuojant Falungun ir be medikų pagalbos, buvo pastebimas ryškus arba visiškas pasveikimas.</p>

<p>1993 m. žurnalas "China Today" išspausdino straipsnį apie Falungun ir jo įkūrėją Li Hundži „Nuostabus Falungun gydomasis poveikis”. Straipsnyje rašoma: „Mokytojas Li mokė Falungun keliuose miestuose, įskaitant Pekiną. Dalyviai buvo iš centrinės valdžios, taip pat žmonės iš įvairių visuomenės sluoksnių. Buvo kariškių, profesorių, studentų ir gydytojų. Mokytis praktikos atėjo įvairaus amžiaus žmonės - nuo paauglių iki pagyvenusių žmonių. Daugelis pastebėjo, kad po praktikos pagerėjo jų protas ir sveikata”.</p>

<p>1997 m. laikraštyje "Medicina ir sveikata" buvo išspausdintas straipsnis „Falungun: Geriausias gydymo ir sveikatingumo pasirinkimas”. 1998 m. lapkričio 8 d. laikraščio reporteris apsilankė Falungun praktikos vietoje Šenjango mieste ir surinko dešimtis pasakojimų apie praktikuotojus, kurių sveikata smarkiai pagerėjo.</p>

<blockquote><p>„Akivaizdu, kad Falungun efektyviai gerina sveikatą. Daugeliui pacientų jis yra naudingas. Dauguma Falungun praktikuojančių, perėjo procesą nuo netikėjimo iki tikėjimo. Iš pradžių kai kurie pacientai tiesiog norėjo išbandyti, ar tai veikia. Matydami, kaip stebuklingai išnyko ilgalaikės ligos, jie įsitikino, kad Falungun iš tiesų gerina sveikatą.”</p><cite>— Shenzhen Star Times, 1998 m.</cite></blockquote>

<p>1998 m. laikraštyje "China Economic Times" buvo išspausdintas straipsnis „Dabar galiu stovėti!” Straipsnyje buvo rašoma apie 53 metų Sje Sjufen iš Handano kaimo Hebei provincijoje. Ji 1979 m. dėl stuburo traumos tapo paralyžiuota. Turėdama 4 vaikus, ji negalėjo pasirūpinti savimi ir turėjo pasikliauti savo motina ir vyru. Daug kartų ji galvojo apie savižudybę. 1996 m. balandį Sje sesuo, kuri su vyru abu pradėjo praktikuoti Falungun, supažindino ją su šia praktika. Po trijų mėnesių, 1996 m. liepos 1 d., ji, sėdėdama neįgaliojo vežimėlyje, nuvyko į Falungun praktiką. Po dviejų mėnesių ji nejautė jokių skausmų. Po metų Sje Sjufen jau gali vaikščioti į praktikos vietą. „Jaučiuosi kaip paukštis, norintis skristi. Žmonės, eidami kartu su manimi, vargiai gali mane pasivyti. Buvau paralyžiuota 16 metų. Mano gyvenimą pakeitė mokytojas Li Hundži. Dabar esu atgimusi iš naujo.”</p>

<p>1999 m. vasario 22 d. interviu "U.S. News ＆ World Report" Kinijos valstybinės sporto komisijos pareigūnas gyrė šią praktiką už tai, kad ji sumažino valstybės išlaidas medicinai: „Falungun ir kitų rūšių cigunas gali sutaupyti kiekvienam žmogui 1000 juanių metinių medicininių mokesčių. Jei praktikuoja 100 milijonų žmonių, tai per metus sutaupoma 100 milijardų juanių medicininių mokesčių.” Pareigūnas sakė, kad tuometinis premjeras Džu Rondzji tuo labai džiaugėsi.</p>

<h3>1 iš 13 žmonių praktikuoja Falun Dafa</h3>

<p>Oficialiais Kinijos duomenimis, iki 1999 m. 70-100 mln. žmonių mokėsi Falun Dafa, neskaitant daugybės kitų, kurie atsitiktinai ir trumpam išbandė praktiką. Tai sudarė maždaug 1 iš 13 Kinijos gyventojų. Daugeliu atvejų ištisos šeimos iš kartos į kartą ėmėsi šios praktikos, matydamos teigiamus pokyčius, kuriuos ji sukėlė jų draugams ir giminaičiams. Beveik kiekvienas žmogus pažinojo ką nors, kas praktikavo Falun Dafa.</p>


<img src="{CONTENT_SERVER}/Falun-Gong-Story_Rise-of-Falun-Gong_FalunDafaCharacters_800px-768x432.jpg" title="Falun Dafa praktikuotojai Vuhane formuoja kinų kalbos simbolius - Falun Dafa. (1999 m. kovo mėn.)">

<h3>Falun Dafa mokymai plinta visame pasaulyje</h3>

<p><strong>1994 m. gruodžio 31 d.</strong> - Daliano mieste, Kinijoje, skaitęs paskutinę paskaitą, kurioje dalyvavo apie 6600 žmonių, Li pradeda mokyti Falun Dafa užsienyje. Pirmoji paskaita buvo skaityta Paryžiuje, Kinijos ambasadoje, inicijuota Kinijos ambasadoriaus Prancūzijoje kvietimu. Paryžiuje buvo surengtos septynių dienų pamokos, o gegužės mėn. sekė antroji serija Švedijos miestuose Geteborge, Stokholme ir Uddevalloje.</p>

<p>1998 m. Kinijos valstybės kontroliuojama televizija atvirai propaguoja Falun Dafa, skelbdama, kad „100 milijonų žmonių visame pasaulyje mokosi Falun Dafa”. </p>

<iframe loading="lazy" title="Šanchajaus televizijos ataskaita: 100 milijonų žmonių visame pasaulyje mokosi Falun Dafa (Falungun)" src="https://player.vimeo.com/video/383124018?h=532f415611" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" width="640" height="360" frameborder="0"></iframe>

<h3>Falun Dafa populiarumo viršūnė ir pirmieji valstybės priespaudos požymiai</h3>

<p>Kinijoje ir visame pasaulyje vis labiau populiarėjant Falun Dafa, pasirodė pirmieji valstybės priespaudos požymiai.</p>

<p>Netrukus po to, kai "Džuan Falun" sausio, kovo ir balandžio mėnesiais "Beijing Youth Daily" įtraukė į bestselerių sąrašą, Kinijos naujienų leidybos biuro, priklausančio Propagandos ministerijai, įsakymu uždrausta leisti Falun Dafa knygas. Dokumente Falun Dafa kaltinamas "prietarų skleidimu". Tais pačiais metais ponas Li persikelia į JAV. </p>

<p><strong>1996 m.</strong> Falun Dafa pasitraukia iš Kinijos cigun mokslo tyrimų asociacijos, kad praktika būtų apsaugota nuo politinės įtakos. Netrukus po to Falun Dafa apkaltinamas "eretišku mokymu" ir prietarų skleidimu. Kinijos viešojo saugumo ministerija atsako pradėdama nusikaltimų tyrimą, kurio išvada: „Kol kas jokių įrodymų nepateikta”. </p>

<p>Vidiniai Kinijos politinės vadovybės nesutarimai tampa dar akivaizdesni, kadangi valstybinė žiniasklaida vienu metu transliuoja ir teigiamus pranešimus apie Falun Dafa, ir išpuolius prieš Falun Dafa. </p>

<p>Falun Dafa skaičius Kinijoje nuolat auga, o įvairios valdžios institucijos, pavyzdžiui, Kinijos Liaudies kongreso ir Nacionalinės sporto komisijos vyresnieji nariai, rengia vis daugiau šios grupės tardymų.</p>

<blockquote><p>„Falun Dafa turi šimtus privalumų Kinijos žmonėms ir tautai ir nė kiek nekenkia.”</p><cite>— Buvusio Politbiuro nario ir Nacionalinio liaudies kongreso nuolatinio komiteto pirmininko Cjao Ši išvada, prie kurios prisijungė kiti aukšto rango kongreso nariai.</cite></blockquote>

<p><strong>1999 m. vasario 14 d.</strong> - Kinijos nacionalinės sporto komisijos pareigūnas, kalbėdamas su "US News ＆ World Report", apskaičiavo, kad šią praktiką gali būti pradėję praktikuoti iki 100 mln. žmonių. Pareigūnas pabrėžė, kad ši praktika padeda sutaupyti Kinijos nacionalinei sveikatos apsaugos sistemai</p>

<blockquote><p>„Esame įsitikinę, kad Falun Dafa pratimai ir poveikis yra puikūs. Jis nepaprastai daug prisidėjo prie visuomenės stabilumo ir etikos gerinimo. Tai turėtų būti deramai patvirtinta.”</p><cite>— Kinijos nacionalinė sporto komisija, 1998 m. spalio 20 d.</cite></blockquote>

<h3>Visuotiniai apdovanojimai ir pripažinimas</h3>

<p>Valdančiajai partijai vis labiau nerimstant dėl požiūrio į Falun Dafa ir po to ėmusis represijų, Falun Dafa ir jo įkūrėjas Li Hundži gavo tūkstančius apdovanojimų ir padėkos raštų iš viso pasaulio. </p>

<p>Li Hundži yra penkis kartus nominuotas Nobelio taikos premijai, o Europos Parlamentas jį nominavo Sacharovo premijai už minties laisvę. Jis yra gavęs "Freedom House" Tarptautinį religinės laisvės apdovanojimą.</p>

          </article>
