
          <article>
<h3>Falun Dafa (dar vadinamas Falungun)</h3>

<p>Tai yra senovinė dvasinė budizmo tradicijos praktika.</p>

<p>Falun Dafa derina meditaciją ir švelnius pratimus (panašius į jogą ar taiči) su moraline filosofija, kurios pagrindą sudaro Tiesos, Gerumo ir Kantrybes principai (arba kiniškai Džen 真, Šan 善, Žen 忍). Falun Dafa praktikuotojai siekia gyventi pagal šiuos principus kasdieniame gyvenime.</p>

<p>Tradicinėje kinų kultūroje proto ir kūno tobulinimo ir lavinimo procesas vadinamas „kultivavimu”. Šiuolaikinėje kalboje jam apibūdinti vartojamas žodis cigunas.</p>

<p>Falun Dafa nuo kitų ciguno formų skiriasi tuo, kad jame ypač smarkiai akcentuojama žmogaus moralė ir dorovės ugdymas.</p>

<img src="{CONTENT_SERVER}/Falun-Gong_Story-of-Falun-Gong__v1.2-1-1024x440.jpg" title="Iki šiol Tolimuosiuose Rytuose, ypač Taivane ir Vietname, gausiai praktikuojama Falun Dafa. Daugiausia praktikuojančiųjų yra Kinijoje, tačiau dėl persekiojimo jie negali praktikuoti dideliais mastais.">

    <h3>Falun Dafa istorija</h3>

    <p><strong>Falun Dafa yra tiesioginis ryšys su tikrąja tradicine kinų kultūra.</strong></p>

    <p>Senovės žmonės tikėjo, kad per disciplinuotą dvasinę praktiką žmogus gali pranokti įprastą egzistenciją. Jie siekė aukštesnės būties būsenos, laisvos nuo kančių ir žemiškojo pasaulio iliuzijų. Norint pasiekti tokią būseną, reikėjo laikytis moralinio teisingumo, atsisakyti žemiškų troškimų ir taikyti meditacijos praktikas, kad pagerėtų protas ir kūnas. Atsirado daugybė disciplinų, siūlančių dvasinio tobulėjimo kelius. Daugelis jų amžiams bėgant buvo tyliai perduodamos iš mokytojų mokiniams…</p>

    <p>Falun Dafa yra kilęs iš šios tradicijos ir pritaikytas šiuolaikiniam gyvenimo būdui. Šią praktiką 1992 m. gegužę visuomenei pristatė Li Hongzhi. </p>

    <p>Žmonės, pradėję praktikuoti Falun Dafa, dažnai iš karto pajunta teigiamą poveikį sveikatai, o kai kurie netgi pasveiksta nuo sunkių ligų. Be to, kinai Falun Dafa mokyme atpažino autentišką dvasinių tradicijų atstovavimą, kurios po dešimtmečius trukusio komunistų valdymo buvo beveik prarastos. Tai sukėlė susižavėjimo šia praktika bangą Kinijoje ir praktika sparčiai plito visoje šalyje.</p>

    <p>Iki 1998 m., praėjus vos šešeriems metams po pirmojo pristatymo visuomenei, oficialiais Kinijos duomenimis, šią praktiką praktikavo 70-100 milijonų žmonių, taigi Falun Dafa tapo sparčiausiai augančia ir populiariausia ciguno praktika Kinijos istorijoje.</p>

    <img src="{CONTENT_SERVER}/WhatisFalunGong__v1.3-1140x490.png" title="Pratimai yra taikūs ir švelnūs. Tai ne mankšta, o darbas su savimi. Įtakos gali turėti net tai, apie ką žmogus galvoja atlikdamas pratimus.">

    <p>Tačiau giliau susipažinę praktikuotojai suprato, kad Falun Dafa nėra tik dar viena ciguno praktika, skirta sveikatai ir gerovei gerinti. Vietoj to ši praktika iš naujo atrado „senus, gerus senovės Kinijos dalykus”, kaip sakė vienas senelis ir buvęs Kinijos pareigūnas. Falun Dafa mokymų dorybės atgaivino tradicinės Kinijos praeities vertybes: daoizmo stiprybę ir sąžiningumą, budizmo užuojautą ir gerumą, konfucianizmo išmintį teisingai ir tolerantiškai elgtis su žmonėmis ir socialine aplinka.</p>

    <p>Žmonės patyrė tradicinės kinų išminties ir vertybių atgimimą per Falun Dafa, ir tai rado gilų atgarsį visoje Kinijoje.</p>

    <h3>Falun Dafa mokymas ir įsitikinimai</h3>

<p>Falun Dafa mokymų esmė -- Tiesos, Gerumo ir Pakantumo vertybės.</p>

    <dl>
        <dt>真</dt>
        <dd>Sakyti tiesą, būti sąžiningu ir aiškiu, būti patikimu ir ištikimu, laikytis duoto žodžio. Būti nepriklausomu ir savarankišku.</dd>

        <dt>善</dt>
        <dd>
Būti maloniam ir supratingam. Rodyti užuojautą, susilaikyti nuo agresijos ir smurto. Nesakyti blogų žodžių. linkėti kitiems gero. Išlaikyti gailestingumą.
        </dd>

        <dt>忍</dt>
        <dd>
            Stiprinti pakantumą. Už smūgį neatsakyti smūgiu. Nelaikyti nuoskaudų ir pykčio. Neįsižeisti. Gebėjimas atsisakyti asmeninių interesų -- tiek materialinių, tiek socialinių.
        </dd>
    </dl>

<p>Senovės kinų mokyklose buvo pabrėžiama, kad siekiant „harmonijos tarp dangaus, gamtos ir žmonių” galima užtikrinti stabilumą ir klestėjimą visuomenėje. Panašiai ir žmogui, einančiam dvasiniu keliu, susiliejimas su pagrindiniais visatos principais (Dao, arba Keliu) ir prisitaikymas prie visatos savybių gali atnešti geresnę psichinę ir fizinę sveikatą, palaiminimą ir įvairių lygių dvasinį pabudimą. </p>

<p>Falun Dafa moko, kad svarbiausią visatos savybę galima apibūdinti tik trimis žodžiais: Džen Šan Žen -- išvertus tai reiškia būti teisingu, geranorišku ir kantriu.</p>

<p>Šie trys principai yra Falun Dafa praktikuotojų kasdienio gyvenimo gairės. Tai reiškia, kad kiekvieną dieną jie stengiasi ugdyti šiuos principus savo širdyje, tapdami labiau teisingais, geranoriškais ir pakantesniais žmonėmis.</p>

<img src="{CONTENT_SERVER}/Studing-Falun-Gong-Dafa-Book__A-1024x576.jpg" title="Zhuan Falun, išvertus iš kinų kalbos, reiškia Įstatymo rato sukimąsi.">

    <h3>Falun Dafa knygos</h3>

    <p>Falun Dafa mokymai išdėstyti keliuose tekstuose, iš kurių dvi pagrindinės knygos yra <i>Falungun</i> ir <i>Džuan Falun</i>.</p>

    <p>Pagrindinė knyga yra <i>Džuan Falun</i>, kurioje pateikiami visi Falun Dafa praktikos mokymai. Tai paskaitų, kurias ponas Li skaitė Kinijoje 1992-1994 m., rinkinys. 1996 m. ši knyga tapo nacionaliniu bestseleriu Kinijoje.</p>

    <p><i>Zhuan Falun</i> iš naujo apibrėžė ciguno ir tobulėjimo praktikos sąvoką Kinijos žmonėms, ir nors aptariami labai gilūs principai, paprasta ir prieinama kalba leido milijonams žmonių žengti tobulinimosi keliu. Knygoje aiškinamas senovinės, bet užmirštos tiesos, įskaitant „kultivavimo” sąvoką, ligų kilmę, karmą, moralinio charakterio vaidmenį kelyje į dvasinį tobulumą ir panašiai.</p>

    <p>Falun Dafa knygos išverstos į daugiau nei 40 kalbų, jos leidžiamos ir platinamos visame pasaulyje. Visą mokomąją medžiagą, įskaitant knygas ir vaizdo įrašus, nemokamai galima rasti svetainėje FalunDafa.org. Išleistų Dafa knygų galima įsigyti FaYuanBooks.com arba TiantiBooks.org. Dėl lietuviško vertimo fizinės kopijos susisiekite su mumis.</p>

    <h3>Ką reiškia praktikuoti Falun Dafa?</h3>

    <p>Praktikuoti Falun Dafa -- tai procesas, kurio metu Tiesos, Gerumo ir Pakantumo dėka tobulinama širdis ir protas, atsisakoma nesveikų įpročių ir siekių. Susidūrus su sunkumais ar konfliktais, Falun Dafa moko ištverti, nekovoti ir nekaltinti kitų, bet ieškoti trūkumų ar priežasčių savyje ir tobulėti.</p>

    <p>Kitos cigungo formos kalba apie skirtingus pasiekimų lygius. Falun Dafa praktikoje žmogaus pažanga siejama tik su jo charakterio tobulinimu.</p>

    <p>Saviugdos procesas, papildytas energetinių pratimų kompleksu ir meditacija, gali padėti pagerinti sveikatą, pasiekti vidinę ramybę, padidinti išmintį, o pažengus į priekį -- pasiekti įvairius dvasinio pabudimo lygius. </p>

    <p>Falun Dafa mokyme pirminė žmogaus prigimtis laikoma gera, todėl tobulėjimas kartais vadinamas grįžimu į pirminę, tikrąją, gerąją savastį.</p>

    <h3>Penki Falun Dafa pratimai</h3>

    <div id="exercise_pictures"></div>

    <p>Cigunas yra žmogaus kūno mokslas, kuris Vakaruose dar nėra plačiai ištirtas ir gerai suprastas. Kita vertus, daugelis Rytų praktikų, įskaitant kinų mediciną, jau tūkstančius metų pripažįsta ir tyrinėja gyvybinę energiją ir jos cirkuliaciją kūno energetiniais kanalais. Supratimas apie energetinius kanalus ir tai, kaip juos galima atblokuoti, atverti ir praplėsti, kad jie būtų palankūs sveikatai, yra Rytų tradicinių gydymo sistemų pagrindas.</p>

    <p>Ciguno praktika moko, kaip dirbti su kūno gyvybine energija, kaip pagerinti jos cirkuliaciją organizme, o aukštesniuose lygiuose kalbama apie kūno gyvybinės energijos transformavimą į stipresnę energiją, vadinamą gun.</p>

    <p>Ciguno pratimai dažnai būna labai lėti, kartais net visiškai nejudrūs. Falun Dafa praktikoje siūlomi keturi stovimi pratimai, kurie veda energiją per kūną. Penktas pratimas yra meditaciją sėdint.</p>

    <h3>Falun Dafa nauda sveikatai</h3>

    <p>Kinijoje, Jungtinėse Amerikos Valstijose, Rusijoje ir Australijoje buvo atlikta keletas sveikatos tyrimų, kurie buvo kliniškai kontroliuojami ir recenzuojami pirmaujančiose medicinos įstaigose. Jie pradėjo tirti ir patvirtino teigiamą, o kartais ir įspūdingą naudą sveikatai, kurią daugelis žmonių priskiria šiai praktikai. </p>

    <p>Paprastai žmonės apibūdina tokią naudą: didesnis energijos kiekis ir mažesnis nuovargis, didesnis atsparumas ligoms, geresnis miegas, emocinė pusiausvyra, ramybės jausmas, teigiamas požiūris, geresni santykiai, didesnis savęs pažinimas, gilesnis prasmės pojūtis ir dvasinis augimas.</p>

    <h3>Apdovanojimai ir pripažinimas visame pasaulyje</h3>

    <p>Vyriausybės pareigūnai ir įvairios organizacijos Falun Dafa skyrė daugybę diplomų, apdovanojimų ir proklamacijų. Daugelis Falun Dafa praktikuotojų yra gavę apdovanojimus už nuopelnus savo bendruomenėms ir darbovietėms. </p>

    <p>Praktikos įkūrėjas Li Hongzhi yra keturis kartus nominuotas Nobelio taikos premijai ir Europos Parlamento nominuotas Sacharovo premijai už minties laisvę. Jis taip pat yra gavęs „Freedom House” Tarptautinį religinės laisvės apdovanojimą.</p>

    <div id="awards_pictures">
        <img src="{CONTENT_SERVER}/Dafa_Awards__01_China-Awards-300x169.png" title="">
        <img src="{CONTENT_SERVER}/Dafa_Awards__01B_China-Ministry-300x169.png" title="">
        <img src="{CONTENT_SERVER}/Dafa_Awards__03_Chicago-300x169.png" title="">
    </div>

    <p>Mažai kas žino, kad Falun Dafa ir jo praktikuotojai sulaukė didelio oficialaus pagyrimo Kinijoje, kol 1999 m. neįvyko dramatiškas ir smarkus politinių jėgų pasikeitimas, dėl kurio ši praktika tapo persekiojama. Vietos valdžios institucijų ir asociacijų kvietimu Li skaitė daugiau kaip 50 paskaitų visoje Kinijoje (taip pat Kinijos ambasadose užsienyje).</p>

    <p>1993 metais „The People's Public Security News” -- oficialus Kinijos viešojo saugumo ministerijos laikraštis -- pagyrė poną Li už jo indėlį „skatinant tradicines kinų tautos dorybes užkirsti kelią nusikaltimams, saugant socialinę tvarką ir saugumą bei skatinant visuomenės teisingumą”.</p>

    <p>Jau 1999 m. Kinijos pareigūnai ėmė kiekybiškai vertinti Falun Dafa naudą, pavyzdžiui, vienas Kinijos nacionalinės sporto komisijos pareigūnas, kalbėdamas su „US News ＆ World Report”, pareiškė, kad Falun Dafa „gali padėti kiekvienam žmogui sutaupyti 1000 juanių metinių medicininių išlaidų. Jei ją praktikuoja 100 milijonų žmonių, tai per metus sutaupoma 100 milijardų juanių medicininių mokesčių”. Toliau tas pats pareigūnas pažymėjo, kad „Premjeras Džu Rondzji tuo labai džiaugiasi”.</p>

    <h3>Falun Dafa visame pasaulyje</h3>

    <p>Šiuo metu žmonės praktikuoja Falun Dafa daugiau nei 100 pasaulio šalių.</p>

    <div id="around_the_world"></div>

    <h3>Kaip išmokti Falun Dafa?</h3>

    <p>Apsilankykite svetainėje FalunDafa.org - šioje svetainėje galite peržiūrėti mokomuosius vaizdo įrašus ir išmokti pratimų arba nemokamai atsisiųsti Falun Gong knygų. Daugeliui naudinga mokytis iš savanorių vietiniame parke.</p>

    <p>Apsilankykite LearnFalunDafa.org - jei pageidaujate mokytis internetu, galite užsiregistruoti į nemokamas internetines pamokas šioje svetainėje.</p>

    <p>Lietuvoje mūsų yra labai mažai. Džiaugiamės visais, kurie nori susisiekti ir sužinoti daugiau. Rašykite adresu <a href="mailto:Falun.Dafa@inbox.lt?subject=Noriu sužinoti daugiau">Falun.Dafa@inbox.lt</a> arba skambinkite telefonu <img src="{CONTENT_SERVER}/kontaktai.png" style="padding: 0px;"></p>

    <h3>DUK</h3>
    <div id="duk_acordeon"></div>

    </article>

