
          <article>
<h3>Kontaktai</h3>
<ul>
    <li>El. paštas: <a href="mailto:Falun.Dafa@inbox.lt?subject=Noriu sužinoti daugiau">Falun.Dafa@inbox.lt</a></li>
    <li>Telefonas: <img src="{CONTENT_SERVER}/kontaktai.png" style="padding: 0px;"></li>
    <li>
        <label>Palikite žinutę:</label>
        <input type="text" id="message" class="contact_form" name="message" maxlength="1000" size="100%">
        <br>
        <label>Jūsų kontaktai:</label>
        <input type="email" id="contact" class="contact_form" autocomplete="email tel url postal-code" name="contact" maxlength="100" size="30">
        <input type="submit" id="contact_form_submit" name="submit" value="Siųsti">
    </li>
</ul>

<h3>Apie puslapį</h3>

<p>Informacija paimta ir į lietuvių kalbą išversta iš <a href="https://FalunInfo.net">FalunInfo.net</a></p>

<p>Lietuvoje yra labai mažai praktikuotojų ir mes neturime rankų išversti visą svarbią informaciją. Šis puslapis daugiausia skirtas tiems, kurie negali ar nenori skaityti kitomis kalbomis.</p>

<h3>Veikla Lietuvoje</h3>

<p>Mes užsiimame 2 kartus per savaitę 16:50 val. antradieniais Karoliniškėse ir penktadieniais prie Baltojo tilto. Kviečiame prisijungti visus norinčius mokytis.</p>

<p>Kartais organizuojame renginius, kuriais siekiame informuoti visuomenę apie persekiojimą Kinijoje. Tikslas - padėti sustabdyti persekiojimą ir išsklaidyti bet kokius nesusipratimus dėl šios praktikos.</p>

<p>KKP skleidžia melagingą smerkiančią informaciją, kad Falun Dafa yra amoralus kultas. Jie tai daro siekdami demonizuoti persekiojamą grupę ir tai taip pat laikoma genocidu.</p>

<p>Dauguma Vakarų žiniasklaidos atstovų dėl nežinojimo ar politinių motyvų profesionaliai nepraneša apie šiuos klausimus ir dažniausiai kartoja KKP propogandą.</p>

<p>Ateityje taip pat tikimės surengti Falun Dafa praktikuotojų meno parodą. Taip pat tikimės pakviesti Shen Yun atvykti į Lietuvą.</p>

<h3>Materialai</h3>

<ul>
    <li>Džuan Falun lietuvių kalba (<a href="Zhuan_Falun_Lithuanian.pdf">pdf</a>)</li>
    <li>Dokumentas, kuriuo siekiama patraukti baudžiamojon atsakomybėn buvusį KKP vadovą už persekiojimo sukūrimą. (<a href="peticijos-forma-lietuviskai.pdf">pdf</a>)</li>
    <li>Gatvėje dalijamos skrajutės apie persekiojimą formali versija. (<a href="apie-persekiojima-v1.pdf">pdf</a>, <a href="apie-persekiojima.md">md</a>)</li>
    <li>Gatvėje dalijamos skrajutės apie persekiojimą spalvota versija. (<a href="apie-persekiojima-v2.pdf">pdf</a>, <a href="apie-persekiojima-v2.zip">zip</a>)</li>
    <li>Ši svetainė talpinama su <a href="https://GitLab.com/falundafalt/falundafainfolt">GitLab</a> pagalba. Jei norite ką nors patobulinti, drąsiai sukurkite pull rekvestą.</li>
    <li>Pasenusi skrajutė apie praktiką. (<a href="Lithuanian_Falun_Dafa_General_introduction_V20170903.pdf">pdf</a>)</li>
    <li>Lipdukas. (<a href="lipdukas.jpg">jpg</a>, <a href="lipdukas.svg">svg</a>)</li>
    <!-- <li>Some older flyers can be fonud <a href="https://www.clearharmony.net/flyers-in-european-languages#Lithuania">here</a>.</li> -->
    <li>Puslapis kuri pridėti knygos pradžoje. (<a href="Falun_page.svg">svg</a>)</li>
</ul>
          </article>
