          <article>
<h3>Contacts</h3>
<ul>
    <li>Email: <a href="mailto:Falun.Dafa@inbox.lt?subject=Noriu sužinoti daugiau">Falun.Dafa@inbox.lt</a></li>
    <li>Phone: <img src="{CONTENT_SERVER}/kontaktai.png" style="padding: 0px;"></li>
    <li>
        <label>Leave a message:</label>
        <input type="text" id="message" class="contact_form" name="message" maxlength="1000" size="100%">
        <br>
        <label>Your contact information:</label>
        <input type="email" id="contact" class="contact_form" autocomplete="email tel url postal-code" name="contact" maxlength="100" size="30">
        <input type="submit" id="contact_form_submit" name="submit" value="Submit">
    </li>
</ul>

<h3>About the page</h3>

<p>The information is mostly taken from and translated into Lithuanian from FalunInfo.net</p>

<p>Threre are very few practitioners in Lietuva and we do not have the manpower to translate all the important information. This page is mainly ment for those who cannot or do not want to read in other languages.</p>


<h3>Activities in Lietuva</h3>

<p>We practice together 2 times per week at 16:50. Tuesdays in Karoliniškes and Fridays by the White bridge (in the field). Anyone who wants to learn is welcome to join.</p>

<p>Sometimes we hold events to inform society about the persecution in China. The purpose is to help stop the persecution and clear away any misunderstandings about the practice.</p>

<p>The CCP is spreading false condemning information that Falun Dafa is an amoral cult. They are doing this to demonize a persecuted group and is also considered genocide.</p>

<p>Most western media out of ignorence or political motives do not report professionally on these questions and mostly repeat the propoganda of the CCP.</p>

<p>In the future we also hope to organize an art exibition made by Falun Dafa practitioners. Also we hope to invite Shen Yun to perform in Lietuva.</p>

<h3>Materials</h3>

<ul>
    <li>Džuan Falun in lithuanian (<a href="Zhuan_Falun_Lithuanian.pdf">pdf</a>)</li>
    <li>Document to prosecute the former CCP leader for starting the persecution. (<a href="peticijos-forma-lietuviskai.pdf">pdf</a>)</li>
    <li>Flyers given out on the street about persecution formal version. (<a href="apie-persekiojima-v1.pdf">pdf</a>, <a href="apie-persekiojima.md">md</a>)</li>
    <li>Flyers given out on the street about persecution colorful version. (<a href="apie-persekiojima-v2.pdf">pdf</a>, <a href="apie-persekiojima-v2.zip">zip</a>)</li>
    <li>This website is hosted with the help of <a href="https://GitLab.com/falundafalt/falundafainfolt">GitLab</a>. Feel free to make a pull request if you want to improve something.</li>
    <li>Outdated flyer about the practice. (<a href="Lithuanian_Falun_Dafa_General_introduction_V20170903.pdf">pdf</a>)</li>
    <li>Sticker. (<a href="lipdukas.jpg">jpg</a>, <a href="lipdukas.svg">svg</a>)</li>
    <!-- <li>Some older flyers can be fonud <a href="https://www.clearharmony.net/flyers-in-european-languages#Lithuania">here</a>.</li> -->
</ul>

          </article>
