
    <article>

        <h3>Oficiali Falun Dafa muzika</h3>
    <p>Ji neša didžiulę energiją. <a href="https://en.falundafa.org/falun-dafa-video-audio-sup.html">FalunDafa.org</a></p>

    <h3>Falun Dafa mokinių sukurta muzika</h3>

    <p>Muzika atspindi dvasinę kelionę, kurią iki šiol įveikė ją kuriantys ir grojantys praktikuotojai.</p>
    <p>Šaltinis <a href="en.MingHui.org/cc/85">en.MingHui.org</a></p>
<ul>
    <li>
    <a href="https://en.minghui.org/html/articles/2020/5/23/185175.html">Pipa (kinų muzikos instrumentas) solo: Iki pasimatymo pavasarį</a>
    <p>Gegužės 23, 2020 | Da Sjun muzika, Ge Dzja remiksas, Ge Dzja solo muzika</p>
    </li>

    <li>
    <a href="https://en.minghui.org/html/articles/2016/5/25/157155.html">Klestėjimo era</a>
    <p>Įvadas: Žmonija įžengia į naują klestėjimo erą, vadovaudamasi Falun Dafa mokymu ir Tiesos, Gerumo ir Pakantumo principais.</p>
    <p>Valdžios pareigūnai, kariuomenės generolai, užsienio šalių delegatai švenčia imperatoriaus rūmuose, stebi šokius ir klausosi muzikos. </p>
    <p>2016 m. gegužės 25 d. | Sukūrė ir aranžavo Ton Čen</p>
    </li>

    <li>
    <a href="https://en.minghui.org/html/articles/2022/8/4/202627.html">Tikrosios savasties ieškojimas</a>
    <p>Ši muzika skirta Falun Dafa pristatymo visuomenei 1992 m. 30-osioms metinėms. Menininkai dėkoja už išgelbėjimą, kurį suteikė Falun Dafa ir jos įkūrėjas Li Hundži.</p>
    <p>Kas aš esu? Kas aš esu? Tai klausimai, kurie mums visada kildavo, bet į kuriuos negalėjome rasti atsakymo. Ilgoje istorijos upėje mes buvome pasiklydę, sužeisti ir negalėjome rasti kelio namo... Kol vieną dieną pamatėme šviesą, viltį ir Falun Dafa vadovavimą. Mokytojo kruopščiai išvalyti, mes žinome, kas esame, iš kur atėjome ir kur einame.</p>
    <p>2022 m. rugpjūčio 4 d. | An Jinfen muzika, Mei Sjuan erhu ir An Jinfen fortepijonas</p>
    </li>

    <li>
    <a href="https://en.minghui.org/html/articles/2022/2/11/199148.html">Priešistorinė priesaika</a>
    <p>Kadaise, tolimaisiais amžiais, mes davėme įžadą<br>atvykome čia gelbėti tų, kuriems reikia pagalbos<br> Laikas bėga ir nuo to laiko įvyko daugybė reinkarnacijų<br> Tačiau pažadas išliko nepaliestas mūsų širdies gilumoje. </p>
    <p>Ar lyja, ar šviečia lietus, savo kelionės nenutrauksime<br> Šio pasaulietinio pasaulio pakilimai ir nuosmukiai neišsekins mūsų valios<br> Juk tam ir esame čia, kad gelbėtume žmones<br> Tai mūsų misija, kuri pasako, kas mes esame ir kur mūsų vieta </p>
    <p>2022 m. vasario 11 d. | Komponuoja ir atlieka An Jinfen</p>
    </li>
</ul>
    <h3>Falun Dafa mokinių, kurie yra profesionalūs muzikantai, atliekama muzika</h3>
    <p>Čia rasite daugybę skirtingų kūrinių. Tiek vakarietiškos, tiek rytietiškos klasikinės muzikos. Taip pat keletas šokių pasirodymų.</p>
    <p>Šie dalykai, žinoma, kainuoja, tačiau yra labai aukšto lygio. <a href="https://www.shenyuncreations.com/">ShenYunCreations.com</a>.</p>
    </article>


    <!--
Official Falun Dafa music
It carries great energy. Please be respectful when you listen to it.
<a href="https://en.falundafa.org/falun-dafa-video-audio-sup.html">FalunDafa.org</a>

Music created by Falun Dafa disciples.
Music here is free of charge and reflects on the spiritual journey taken so far by those who compose and play it.
Source en.MingHui.org

Music by Falun Dafa disciples who are professional musicians.
Here you will find many different pieces. Both western and eastern clasical music. Also some dance performances.
These things cost money of course, but are of very high caliber.
    -->
