
<article>
<!--     <h3>Sending forth righteous thoughts</h3> -->

<!--     <p><strong>Four times per day Falun Dafa practitioners all over the world send forth righteous thoughts to disintegrate all evil in the cosmos and thus lessen the persecution of Dafa.</strong></p> -->

<!--     It is done in accordance with this special historical period and should be done as follows. -->

<!--     Please refer to the original instructions here (<a href="https://en.falundafa.org/eng/articles/20021013A.html">Righteous Thoughts</a>), here (<a href="https://en.minghui.org/emh/articles/2001/6/12/11429.html">The Two Hand Positions for Sending Forth Righteous Thoughts</a>) and here (<a href="https://en.minghui.org/html/articles/2005/2/9/57357.html">MingHui Editorial</a>) -->

    <h3>Pasiųsti teisingų minčių</h3>

    <p><strong>Keturis kartus per parą Falun Dafa praktikuotojai visame pasaulyje pasiunčia teisingas mintis, kad suardytų visą blogį kosmose ir taip sumažintų Dafa persekiojimą.</strong></p>

    <p>Tai daroma atsižvelgiant į šį ypatingą istorinį laikotarpį ir turėtų būti atliekama sekančiai.</p>

    <p>Originalias instrukcijas rasite čia (<a href="https://en.falundafa.org/eng/articles/20021013A.html">Righteous Thoughts</a>), čia (<a href="https://en.minghui.org/emh/articles/2001/6/12/11429.html">The Two Hand Positions for Sending Forth Righteous Thoughts</a>) ir čia (<a href="https://en.minghui.org/html/articles/2005/2/9/57357.html">MingHui Editorial</a>)</p>

<div><hr></div>

<p>Vienas iš trijų dalykų, kurių iš mūsų reikalauja Mokytojas, yra teisingų minčių siuntimas. Tai labai svarbu, ir kiekvienas Dafa mokinys Fa-ištaisymo laikotarpiu turi gerai atlikti šią užduotį. Tačiau labai ilgai ir dėl įvairių priežasčių kai kurių Kinijos vietovių mokiniai nematė Mokytojo mokymų apie teisingų minčių siuntimą ir atitinkamų straipsnių iš "ClearWisdom" redakcijos. Dėl šios priežasties jie vis dar teisingai nesuprato, kada ir kas yra svarbiausia siunčiant teisingas mintis. Yra vietovių, kuriose keli asmenys nuėjo ir sukūrė kažką naujo ir kitokio, taip trukdydami kai kuriems mokiniams. Siekiant išspręsti šią problemą, šiame straipsnyje iš naujo surinkti reikalavimai ir esminiai dalykai teisingų minčių siuntimui, kuriuos sudaro straipsniai nuo ankstyviausių iki naujausių, ir jie pateikiami Kinijos mokiniams ir naujiems mokiniams iš kitų šalių.</p>

<h4>I. Teisingų minčių pasiuntimo pagrindai </h4>

<p><strong>Pirmiausia penkias minutes apsivalykite, tada pradėkite siųsti teisingas mintis, kad išvalytumėte blogio tamsos pakalikus ir supuvusius demonus bei išnaikintumėte visus komunistinės blogio šmėklos elementus. </strong></p>

<p>Kaip pavyzdį paimkime teisingų minčių siuntimą vienu metu visame pasaulyje: prieš siųsdami teisingas mintis blogiui išvalyti (pradedant 5:55, 11:55 ir t. t.), 5 minutes nurimkite ir galvokite apie tai, kaip pašalinti blogas mintis savo galvoje, karmą ir blogas sąvokas bei išorinį kišimąsi; tada valandos viršuje pradėkite siųsti teisingas mintis, naikindami tamsius pakalikus, supuvusius demonus ir visus kitus senųjų jėgų surengtus persekiojimo elementus, kiekvieną kartą bent po penkias minutes.</p>

<p>Kai siunčiate teisias mintis, jūsų protas turi būti susitelkęs, tyras ir stabilus - tik tada galėsite pasitelkti savo aukštesnius gebėjimus. </p>

<p><strong>Po to, kai išvalėte savo protą, apie ką turėtumėte galvoti prieš deklamuodami eiles? </strong></p>

<p>Vėlgi, kaip pavyzdį imkime teisingų minčių siuntimą vienu metu visam pasauliui: po apsivalymo, pradedant nuo valandos pradžios ir kiekvieną kartą bent po penkias minutes, visi Dafa mokiniai visame pasaulyje turėtų galvoti apie šiuos dalykus: </p>

<ol>
    <li>Išnaikinti visą blogį, kuris kenkia Dafa, suardyti visus tamsius pakalikus ir supuvusius demonus, sunaikinti visus komunistinės blogio šmėklos elementus ir išvalyti šias paskutines kišimosi iš kitų dimensijų formas, apimant viską ir nepaliekant nė vieno. </li>
    <li>Galima išskirti kelis konkrečius tikslus. </li>
    <li>
        <p>Tyliai deklamuokite Mokytojo Fa-ištaisymo eiles: „Įstatymas ištaiso visatą, Blogis visiškai panaikinamas.”, ir, prireikus, galite pridėti „Įstatymas ištaiso dangų ir žemę, neatidėliotinas atpildas šiame gyvenime”. Nepriklausomai nuo to, ar mokate kinų kalbą, ar ne, deklamuodami šias eiles jus turėtų kuo tiksliau vartoti mandarinų kinų kalbos tarimą.</p>
        <p>Toliau pateikiamas eilių kinų kalba tarimas:</p>
        <p>
        法正乾坤<br>
        邪惡全滅<br>
        „Įstatymas ištaiso visatą, Blogis visiškai panaikinamas.”<br>
        <br>
        (Pinyin transliteracija) <br>
        fa zheng qian kun<br>
        xie e quan mie<br>
        <br>
        (fonetiškai)<br>
        fa džen cjaņ kuņ<br>
        sje ė! cjuaņ mie<br>
        <br>
        </p>
        <p>
        法正天地<br>
        現世現報<br>
        „Įstatymas ištaiso dangų ir žemę, neatidėliotinas atpildas šiame gyvenime”<br>
        <br>
        (Pinyin transliteracija) <br>
        fa zheng tian di<br>
        xian shi xian bao <br>
        <br>
        (fonetiškai)<br>
        fa džen tiaņ di<br>
        sjaņ ši sjaņ bao<br>
        </p>
    </li>
    <li>
        <p>Po to, kai tyliai perskaitysite eiles, sutelkite galingas mintis sakydami žodį Mie (滅). Žodis Mie (滅) turi būti toks stiprus, kad būtų didžiulis kaip kosminis kūnas, apimantis viską ir nepraleidžiantis nieko jokioje dimensijoje. ("Righteous Thoughts") </p>
        <p>Tai paskutinis žodis vienoje iš eilių, kuris reiškia "išvalytas", "pašalintas", "panaikintas" ir t. t. Jis tariamas "mie". </p>
        <p>Kalbant apie antrąjį punktą, prieš tyliai deklamuojant eiles ir žodį mie, galima tyliai įterpti mintį, pagrįstą vietos sąlygomis. Pavyzdžiui: išnaikinti blogį vietinėje darbo stovykloje ar smegenų plovimo centre, tegul koks nors konkretus piktadarys iš karto sulaukia karminio atpildo ir taip toliau. Tačiau būtinai įsidėmėkite: netinka, kad faktinių taikinių būtų per daug arba jie būtų konkretūs, kitaip ne tik per ilgai užtruksite deklamuoti ir dėl to praleisite laiką, skirtą visiems kartu siųsti teisias mintis, bet jei negalėsite nuraminti savo proto, nebus pasiektas teisingų minčių pasiuntimo poveikis, o kadangi tai visi konkretūs dalykai, jie apribos jūsų pačių galių poveikio sferą. </p>
    </li>
</ol>

 <h4>Jūs turite ramiai, tyliai deklamuoti eiles </h4>

 <p>Prieš siųsdami teisingas mintis, privalote turėti galingas, tvirtas mintis, kad pašalintumėte blogį, ir žinoti, kad jūsų teisingos mintys tikrai gali pašalinti blogį. Pasitelkite tyrą, teisingą geranoriškumą ir ramiai, tyliai deklamuokite Įstatymo ištaisymo eiles. </p>

 <p>Atkreipkite dėmesį:</p>


 <ol>
     <li>Reikalavimas deklamuoti eiles yra "deklamuoti tyliai", o ne garsiai (ar garsiai). Eilių deklamavimas nereiškia, kad jas reikia giedoti pakartotinai. Tyliai deklamuojant eiles, kuo ramesnės, tvirtesnės, tyresnės ir stabilesnės mintys, tuo didesnę galią jos turės. </li>

     <li>Kai siunčiate teisingas mintis, vieną kartą tyliai perskaičius eiles, geriausia, jei galite išlaikyti teisingas mintis ramybės būsenoje. Kai teisingos mintys nėra stabilios, dar kartą pakartokite eilėraštį, kad sutelktumėte savo energiją. Pakartotinis ir nuolatinis kartojimas neigiamai paveiks žmogaus ramybės būseną; per didelis kartojimo akcentavimas iš tikrųjų gali apriboti antgamtinių galių veiksmingumo sferą. </li>

     <li>Kai kurie mokiniai, išsiuntę teisias mintis, žiūri į paviršinius rezultatus ir mano, kad jų siunčiamos teisingos mintys yra neveiksmingos, kai nemato paviršinių rezultatų. Taip yra dėl to, kad gerai nesupranta Fa principų ir neturi pakankamai stiprių teisingų minčių, o tai turės įtakos teisingų minčių siuntimo rezultatams. Prieš siųsdami teisingas mintis, būtinai sustiprinkite savo mąstymą, kad tvirtai pašalintumėte blogį, ir tvirtai žinokite, kad jūsų teisingos mintys galės pašalinti blogį. Tik daug ir gerai studijuodami Fa galėsite sustiprinti savo teisingas mintis ir gerai pasiųsti teisingas mintis. Tai vienas iš trijų dalykų, kuriuos Mokytojas reikalauja, kad kiekvienas Fa pataisymo laikotarpio Dafa mokinys gerai atliktų. </li>

 </ol>

 <!-- <p><strong>Siųsdami teisingas mintis, įsitikinkite, kad esate blaivaus proto ir kad mintys yra stiprios. </strong></p> -->

     <h4> Pozicija ir rankų gestai, skirti teisingoms mintims pasiųsti</h4>

     <p>Eidami, valgydami ar dirbdami galite pasiųsti teisingas mintis bet kokioje aplinkoje. Tai nebūtinai turi būti sėdimoji meditacija, ją galima atlikti atmerktomis arba užmerktomis akimis. Nėra absoliučiai būtina atlikti rankų gestus, tačiau privalote sutelkti savo pastangas į mąstymą ir įsitikinti, kad jūsų protas yra susikaupęs, tyras ir tvirtas. </p>

     <p>Jei norite naudoti rankų gestus siųsdami teisingas mintis, turite tai daryti pagal Mokytojo reikalavimus ir naudoti arba vertikalų delną, arba lotoso žiedo delną (žr. 2001 m. birželio 12 d. straipsnį "The Two Hand Positions for Sending Forth Righteous Thoughts", kuriame pateikiamos Mokytojo demonstruojamų gestų nuotraukos). Jei gestus pridedate ar sukuriate patys, tai nėra Dafa mokinio atliktas veiksmas iš teisingų minčių. </p>

     <h3>Rekomenduojamas laikas Dafa mokiniams visame pasaulyje vienu metu siųsti teisingas mintis </h3>

     <p>Keturis kartus per dieną: 6 val., 12 val., 18 val. ir vidurnaktį Pekino laiku. (Lietuvoje pagal vasaros laiką tai yra 7 val. ir 1 val.). </p>

     <p>Kiekvieną kartą, prieš siųsdami teisingas mintis, pirmiausia apsivalykite penkias minutes ir bent penkias minutes siųskite teisingas mintis. </p>

     <p>Jei yra ypatingų aplinkybių (pavyzdžiui, siekiant užtikrinti, kad per dieną darbe nekiltų jokių gamybos saugos problemų), galima atitinkamai prisitaikyti pačiam (pavyzdžiui, vieną ar du kartus rečiau dalyvauti kasdieniniame visuotiniame teisingų minčių siuntime). Tačiau prielaida yra ta, kad turite išlaikyti Dafa mokinio dvasinę būseną, teikti didelę reikšmę geram teisingų minčių siuntimui ir tai daryti pastoviai, todėl geriausia būtų rasti kitą laiką, kad tai kompensuotumėte. </p>

     <h3>III. Kad geriau suprastumėte teisingų minčių siuntimą ir teisingų minčių siuntimo pagrindus, pagrįstus Įstatymu, atidžiai perskaitykite naujus Mokytojo Raštus ir atitinkamus "Minghui" redaktorių straipsnius: </h3>

 	<p><a href="http://www.clearwisdom.net/emh/articles/2002/10/14/27578.html"> 	Scripture "Righteous Thoughts" (October 13, 2002)</a> </p><p>	<a href="http://www.clearwisdom.net/emh/articles/2004/3/17/46155.html"> 	Scripture "Eliminate the Dark Minions With Righteous Thoughts" (March 16,  	2004)</a> </p><p>	<a href="http://www.clearwisdom.net/emh/articles/2001/7/18/12385.html"> 	Scripture "The Effect of Righteous Thoughts" (July 16, 2001)</a></p><p>	<a href="http://www.clearwisdom.net/emh/articles/2004/3/28/2004_LA_Lecture.html"> 	Scripture "Teaching the Fa at the 2004 Western U.S. Fa Conference" (February  	28, 2004)</a> </p><p>	<a href="http://www.clearwisdom.net/emh/articles/2003/7/8/37905.html"> 	Scripture "Teaching the Fa at the 2003 Midwest-U.S. Fa Conference" (June 22,  	2004)</a> 	</p>
    <p>Taip pat remkitės atitinkamais "Minghui" redaktorių straipsniais:</p>
    <p><a href="http://www.clearwisdom.net/emh/articles/2001/11/28/16267.html"> 	"Regarding Sending Forth Righteous Thoughts" November 26, 2001</a> </p><p>	<a href="http://www.clearwisdom.net/emh/articles/2001/6/12/11429.html">"The  	Two Hand Gestures for Sending Forth Righteous Thoughts" June 12, 2001</a> 	</p><p>	<a href="http://www.clearwisdom.net/emh/articles/2001/5/25/10374.html">"Send  	Forth Righteous Thoughts" May 25, 2001</a>  </p>

</article>
