
<h3>Evidence</h3>

<h3>Books</h3>

<h3>Music</h3>

<h3>Art</h3>

<h3>Practice</h3>

<h3>Misconceptions</h3>

misconceptions_dict = {
        "Why CCP calls Falun Dafa an evil cult?": ["""

        """],
        "Do they hold intolerant beliefs?": ["""
        """],
        "Do they hold intolerant beliefs?": ["""
        """],
        "Do they avoid medicine?": ["""
        """],
        "Is Falun Gong secretive?": ["""
        """],
        "Is Falun Gong controversial?": ["""
        """],
        "Are they a political force in China?": ["""
        """],
        "What is the Falun emblem?": ["""
        """],
}
