    <header id="header">
      <div id="lang_picker">
          <span style="font-size: medium;">Kitos kalbos:</span>
          <a href="https://FalunInfo.net">🇬🇧</a>
          <a href="https://FalunInfo.ru">🇷🇺</a>
          <a href="https://pl.FalunInfo.net">🇵🇱</a>
      </div>   
        <h1 id="return_home">Falun Dafa info centras Lietuvoje</h1>
      <section id="bottom_of_header">
          <h2 id="view_kas_tai">Kas tai Falun Dafa?</h2>
          <h2 id="view_kodel">Kodėl persekioja?</h2>
          <h2 id="view_istorija">Istorija</h2>
          <h2 id="view_about">Kontaktai</h2>
      </section>
    </header>
    <div id="under_title">
        <section id="sidebar">
            <div id="view_evidence">Įrodimai</div>
            <div id="view_music">Muzika</div>
            <div id="view_art">Menas</div>
            <div id="view_misconceptions">Nesusipratimai</div>
            <!-- <div id="view_books">Knygos</div> -->
            <!-- <div id="view_films">Filmai</div> -->
            <!-- <div id="view_prosecute">Patraukti baudžiamojon atsakomybėn buvusį KKP vadovą</div> -->
            <div id="view_righteous_thoughts">Teisingos mintis</div>
            <!-- <div id="view_activities_lt">Veikla Lietuvoje</div> -->
        </section>
        <section id="main">
        </section>
        <section id="sidebar_right">
        </section>
      </div>
      <section id="footer">
      </section>
